/*--------------------------------------------------------------
POST GRID
----------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.swiper-filter-active {
	.pxl-swiper-slide {
		@include transition(all .3s cubic-bezier(.645,.045,.355,1));
	}
	.non-swiper-slide {
		display: none;
	}
}

.swiper-filter-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.filter-item {
		display: inline-block;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 10px 24px;
		cursor: pointer;
		position: relative;
		z-index: 1;
		span {
			color: #010927;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
		}
		&.active {
			color: $primary_color;
			span {

			}
		}
	}
}

.pxl-swiper-arrow-style1 {
    .pxl-swiper-arrow {
        left: 50%;
        @include transform(translateX(-50%));
        right: auto;
        bottom: 0;
        top: auto;
        opacity: 1;
        visibility: visible;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 2px solid #4b5345;
        line-height: 36px;
        color: #4b5345;
        i:before {
            content: "\f142";
            font-size: 16px;
        }
        &:hover {
            border-color: $primary_color;
            background-color: $primary_color;
        }
        &.pxl-swiper-arrow-prev {
            margin-left: -80px;
            i {
                @include transform(scaleX(-1));
            }
        }
        &.pxl-swiper-arrow-next {
            margin-left: 80px;
        }
        + .pxl-swiper-dots {
            position: absolute;
            bottom: 120px;
            left: 0;
            right: 0;
            margin: 0;
        }
    }
    .pxl-swiper-dots.pxl-swiper-pagination-fraction {
    	bottom: 10px;
    	font-size: 0px;
    	line-height: 20px;
    	span {
    		font-weight: 500;
			color: #fff;
			font-size: 16px;
			display: inline-block;
			min-width: 20px;
			text-align: center;
    		&.swiper-pagination-current {
    			position: relative;
    			margin-right: 50px;
    			&:before {
    				content: '';
    				position: absolute;
    				top: 50%;
    				left: 32px;
    				width: 27px;
    				height: 1px;
    				background-color: #fff;
    			}
    		}
    	}
    }
}

.pxl-swiper-arrow-style2 {
	.pxl-swiper-arrow {
		opacity: 1;
		visibility: visible;
		height: 55px;
		width: 55px;
		line-height: 55px;
		font-size: 20px;
		background: transparent;
		@include box-shadow(none);
		position: static;
		@include transform(translate(0, 0));
		i {
			display: inline-flex;
		}
		svg {
			height: 55px;
			width: 55px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
			&.item--main {
				fill: #ececec;
			}
			&.item--hover {
				opacity: 0;
			}
		}
		&.pxl-swiper-arrow-prev {
			@include transform(scaleX(-1));
			margin-right: 16px;
		}
		&:hover {
			svg {
				&.item--main {
					opacity: 0;
				}
				&.item--hover {
					opacity: 1;
				}
			}
		}
	}
	.pxl-swiper-arrow-wrap {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
}

.pxl-swiper-arrow-style3 {
	.pxl-swiper-arrow {
		font-size: 36px;
		color: #c5d3d8;
		background-color: transparent;
		box-shadow: none;
		&:hover {
			@extend .text-gradient;
		}
		&.pxl-swiper-arrow-prev i {
			@include transform(scaleX(-1));
			display: inline-block;
		}
	}
}

.pxl-swiper-dots {
	&.style2.pxl-swiper-pagination-bullets {
        margin-top: 35px;
        span {
            margin: 0 4px;
            width: 11px;
            height: 11px;
            @include background-horizontal($gradient_color_from, $gradient_color_to);
            &:before {
                content: '';
                width: 13px;
                height: 13px;
                border: 1px solid $primary_color;
                top: -1px;
                left: -1px;
                position: absolute;
                @include border-radius(13px);
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                opacity: 0;
                @include transform(scale(1.4));
            }
            &:after {
                @include transition(all .25s cubic-bezier(.645,.045,.355,1));
                content: '';
                width: 5px;
                height: 5px;
                @include border-radius(13px);
                position: absolute;
                top: 3px;
                left: 3px;
                @include background-horizontal($gradient_color_from, $gradient_color_to);
                opacity: 0;
            }
            &:hover,
            &.swiper-pagination-bullet-active {
                background: transparent;
                &:before, &:after {
                    opacity: 1;
                }
                &:before {
                    @include transform(scale(1));
                }
            }
        }
    }
}

.pxl-swiper-sliders .pxl-item--image img {
	width: 100%;
}

.pxl-grid {
	&.pxl-blog-grid {
		.pxl-grid-pagination {
			margin-top: 45px;
		}
	}
	.pxl-item--image img {
		width: 100%;
	}
}

.pxl-grid-pagination.pxl-pagination-style2 {
	.page-numbers {
		height: 46px;
		width: 46px;
		line-height: 46px;
		font-size: 18px;
		i {
			font-size: 13px;
		}
		&:before, &:after {
			display: none;
		}
		&.current, &:hover {

		}
	}
}

.pxl-grid-filter2 {
    margin-bottom: 38px;
    font-size: 17px;
    color: #444;
    .filter-item {
        cursor: pointer;
        &:after {
            content: '-';
            margin: 0 18px;
        }
        &:last-child:after {
            display: none;
        }
    }
}

.pxl-grid-filter3 {
    @extend .swiper-filter-wrap;
    margin-bottom: 53px;
}

.pxl-blog-list {
	.pxl-item--image {
		position: relative;
		overflow: hidden;
		@include border-radius(7px);
		max-width: 80px;
		min-width: 80px;
		margin-bottom: 0;
		img {
			@include transition(all .3s ease);
			@include transform(scale(1.1));
		}
		+ .pxl-item--meta {
			padding-left: 20px;
			margin-bottom: 0;
		}
	}
	.pxl-item--meta {
		margin-bottom: 0;
	}
	.pxl-item--author {
		margin-bottom: 5px;
		a {
			font-size: 14px;
			font-weight: 500;
			color: $color_heading;
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-item--title {
		font-size: 17px;
		line-height: 1.53;
		font-weight: 400;
		margin-bottom: 0;
		a {
			color: $color_heading;
			&:hover {
				color: $primary_color;	
			}
		}
	}
	.item--content {
		
	}
	.pxl-grid-item {
		display: flex;
		align-items: center;
		+ .pxl-grid-item {
			margin-top: 23px;
		}
		&:hover {
			.pxl-item--image {
				img {
					@include transform(scale( 1.0 ));
				}
			}
		}
	}
} 
.pxl-blog-grid-layout1, .pxl-post-carousel1 {
	.pxl-pagination-wrap .pxl-pagination-links {
		margin-top: 40px;
		@media #{ $max-sm } {
			margin-top: 0;
		}
	}
	.pxl-item--featured {
		overflow: hidden;
		position: relative;
		z-index: 1;
		margin-bottom: -1px;
		@include border-radius(8px 8px 0 0);
		@include transition(all .3s ease);
		img {
			width: 100%;
			@include transform(scale(1.0));
			@include transition(all .3s ease);
		}
		.item--date {
			position: absolute;
			top: 25px;
			left: 25px;
			z-index: 1;
			opacity: 1;
			padding: 5px 12px;
			font-weight: 500;
			display: flex;
			flex-wrap: wrap;
			color: $primary_color;
			font-size: 15px;
			background-color: #fff;
			i {
				margin-right: 5px;
				top: -1px;
				position: relative;
			}
		}
	}
	.pxl-item--title {
		font-size: 20px;
		line-height: 140%;
		margin-bottom: 10px;
		font-weight: bold;
		a {
			color: $color_heading;
			transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-item--content {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.btn-showmore {
		color: $color_heading;
		font-size: 18px;
		font-weight: 500;
		line-height: 47px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		background-color: transparent;
		padding-left: 20px;
		padding-right: 0;
        i {
        	font-size: 15px;
		    display: inline-flex;
		    justify-content: center;
		    align-items: center;
		    position: absolute;
		    line-height: 1;
		    top: 4px;
		    left: 0;
		    cursor: pointer;
		    @include transition(all 300ms linear 0ms);
        }
        &:hover {
        	padding-left: 0;
        	padding-right: 20px;
        	color: $primary_color;
        	i {
        		left: 92%;
        	}
        }
	}
	.item--author {
		border-bottom: 1px solid #E2E5F1;
		margin-bottom: 20px;
		padding-bottom: 18px;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		@media #{ $min-xl } {
			margin-left: -40px;
			margin-right: -40px;
			padding-left: 40px;
			padding-right: 40px;
		}
		img {
			@include transition(all .5s ease);
			width: 38px;
			height: 38px;
			@include border-radius(38px);
			margin-right: 12px;
		}
		a {
			display: flex;
			align-items: center;
			color: inherit;
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-item--holder {
		border: 1px solid #E2E5F1;
		@include border-radius(0 0 8px 8px);
		padding: 20px;
		padding-bottom: 35px;
		@media #{ $min-xl } {
			padding: 15px 40px 35px;
		}
	}
	.pxl-item--inner {
		
		&:hover {
			.pxl-item--featured {
				a {
					display: block;
		        }
				img {
					@include transform(scale(1.2));
				}
			}
			.pxl-feature {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
}
.pxl-blog-grid-layout2, .pxl-post-carousel2 {
	.pxl-swiper-dots {
		margin-top: 50px;
	}
	.pxl-swiper-container {
		overflow: visible;
		.pxl-swiper-slide {
			opacity: 0;
			&.swiper-slide-visible {
				opacity: 1;
			}
		}
	}
	.item--featured {
		position: relative;
		z-index: 1;
		overflow: hidden;
		img {
			@include transition(.3s cubic-bezier(.24,.74,.58,1));
			@include transform(scale(1.05));
			width: 100%;
		}
		.link-ovlay {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;			
			opacity: 0;
		}
		&:before, &:after {
			content: "";
			width: 110%;
			height: 100%;
			position: absolute;
			bottom: 0;
			z-index: 1;
			left: 0;
			right: 0;
			@include transition(.3s cubic-bezier(.24,.74,.58,1));
		}
		&:before {
			height: 100%;
			opacity: 1;
	        @include transform(scaleY(1));
            transform-origin: bottom center;
            -moz-transform-origin: bottom center;
            -ms-transform-origin: bottom center;
            -webkit-transform-origin: bottom center;
            -o-transform-origin: bottom center;
			@include background-gradient-top( #{'rgba(var(--sevent-color-rgb), 1)'} 20%, #{'rgba(var(--sevent-color-rgb), 0.1)'} 70% );
		}
		&:after {
			opacity: 0;
            transform-origin: bottom center;
            -moz-transform-origin: bottom center;
            -ms-transform-origin: bottom center;
            -webkit-transform-origin: bottom center;
            -o-transform-origin: bottom center;
            @include transform(scaleY(0));
			@include background-gradient-top( #{'rgba(var(--primary-color-rgb), 1)'} 20%, #{'rgba(var(--primary-color-rgb), 0.1)'} 70% );
		}
	}
	.item--date {
		margin-bottom: 22px;
		padding: 8px 15px;
		@include border-radius(0px);
		font-size: 15px;
		display: inline-block;
		color: #fff;
		font-weight: 500;
		background-color: $primary_color;
		@include transition(.3s cubic-bezier(.24,.74,.58,1));
		i {
			position: relative;
			top: 2px;
			font-size: 16px;
		}
	}
	.pxl-item--title {
		font-size: 20px;
		margin-bottom: 0;
		line-height: 1.5;
		font-weight: bold;
		@media #{ $max-lg } {
			font-size: 20px;
		}
		a {
			color: #fff;
		}
	}
	.item--meta {
		text-align: left;
		position: absolute;
		bottom: 0px;
		width: 100%;
		z-index: 2;
	    @include transition(.3s cubic-bezier(.24,.74,.58,1));
	    padding: 35px 15px;
	    @media #{ $mm-xl } {
	    	padding: 35px 22px;
	    }
	    @media #{ $min-xxl } {
			padding: 45px;
	    }
	}
	.pxl-item--inner {
		position: relative;
		@include border-radius(10px);
		z-index: 1;
		overflow: hidden;
		margin-bottom: 30px;
		&:hover {
			@include box-shadow(0 5px 30px #{'rgba(var(--secondary-color-rgb),0.3)'});
			.item--featured {
				img {
					@include transform(scale(1.0));
				}
				&:before {
	                opacity: 0;
	                @include transform(scaleY(0));  
				}
				&:after {
                    opacity: 1;
                    @include transform(scaleY(1));  
				}
			}
		    .item--date {
		    	background-color: #fff;
		    	color: $primary_color;
		    }
		}
	}
}
.pxl-post-carousel1 {
	.pxl-item--inner {
		margin-bottom: 15px;
	}
	.wp-arows {
		
	}
}