.pxl-icon-box1 {
    &.box-style1 {
        .pxl-item--icon {
            min-width: 100px;
            max-width: 100px;
            min-height: 100px;
            max-height: 100px;        
            margin-right: 23px;
            background-color: $primary_color;
            position: relative;
            @include border-radius(12px);
            z-index: 1;
            @extend .pxl-flex-center;
            @media #{ $max-xsx } {
                margin-bottom: 25px;
            }
            i {
                font-size: 60px;
                color: #fff;
            }
            img, svg {
                max-height: 60px
            }
            svg {
                max-width: 60px;
                path {
                    fill: #fff;
                }
            }
        }
        .pxl-item--title {
            font-size: 18px;
            color: $secondary_color;
            margin-bottom: 10px;
            @extend .ft-theme-default;
            a {
                color: inherit;
                &:hover {
                    color: $primary_color;
                }
            }
        }
        .pxl-iconbox--content {

        }
        .pxl-item--inner {
            display: flex;
            align-items: center;
            @media #{ $max-xsx } {
                flex-wrap: wrap;
            }
            &:hover {
                .pxl-item--icon {
                    &:before {
                        @include transform(rotate(-75deg));
                    }
                }
            }
        }
    }
    &.box-style2 {
        .pxl-item--icon {
            min-width: 60px;
            max-width: 60px;
            min-height: 60px;
            max-height: 60px;        
            margin-right: 30px;
            position: relative;
            @include border-radius(60px);
            background-color: #{'rgba(var(--primary-color-rgb),0.1)'};
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            @media #{ $max-xsx } {
                margin-bottom: 25px;
            }
            i {
                font-size: 36px;
                color: $primary_color;
            }
            img, svg {
                max-height: 36px
            }
            svg {
                max-width: 36px;
                path {
                    fill: $primary_color;
                }
            }
        }
        .pxl-item--title {
            font-size: 20px;
            color: $secondary_color;
            margin-bottom: 10px;
            a {
                color: inherit;
                &:hover {
                    color: $primary_color;
                }
            }
        }
        .pxl-iconbox--content {
            font-size: 16px;
        }
        .pxl-item--inner {
            display: flex;
            @media #{ $max-xsx } {
                flex-wrap: wrap;
            }
            &:hover {
                .pxl-item--icon {

                }
            }
        }
    }
}

/* Icon Box Grid */
.pxl-iconbox-grid1, .pxl-iconbox-carousel1 {
    .link-holder {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .box-style1 {
        @include border-radius(15px);
        background-color: #fff;
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: 30px 35px;
        @include box-shadow(0px 20px 31px 10px rgba(#C8D0D6, 0.25));
        &:before {
            opacity: 1;
            @include border-radius(15px);
            z-index: -1;
            position: absolute;
            top: 0;
            right: -20%;
            height: 120%;
            content: '';
            background-color: #fff;
            width: 150%;
            @include transform(skew(45deg));
            @include transition(transform 0.4s cubic-bezier(0.3, 1, 0.8, 1));
        }
        @media #{$min-md} {
            display: flex;
            align-items: center;
        }
        @media #{ $max-xl } {
            padding: 30px 20px;
        }
        @media #{ $max-sm } {
            padding: 25px 15px;
        }
        .pxl-item--image {
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            max-width: 80px;
            min-width: 80px;
            height: 80px;
            background-color: #{'rgba(var(--primary-color-rgb),0.15)'};
            margin-right: 20px;
            @include border-radius(50%);
            @media #{ $max-sm } {
                margin-bottom: 20px;
                margin-right: 0;
            }
            img, svg {
                max-height: 35px;
                width: auto;
                @include transition(all .3s cubic-bezier(.24,.74,.58,1));
            }
            i {
                @include transition(all .3s cubic-bezier(.24,.74,.58,1));
                font-size: 35px;
                color: $primary_color
            }
            svg {
                fill: $primary_color;
            }
        }
        .pxl-item--title {
            margin-bottom: 15px;
            font-size: 20px;
            color: $color_heading;
            a {
                color: inherit;
            }
        }
        .pxl-item--excerpt {
            font-size: 15px;
            margin-bottom: 18px;
        }
        .pxl-icon-bottom {
            position: absolute;
            bottom: -7px;
            right: 0;
            z-index: -1;
            svg {
                path {
                    @include transition(all .3s cubic-bezier(.24,.74,.58,1));
                }
            }
        }
        .icon-link {
            display: inline-block;
            color: $primary_color;
            i {

            }
        }
        &:hover {
            background-color: $primary_color;
            &:before {
                opacity: 1;
                @include transform( translate3d(100%,0,0) skew(0deg) );
            }
            .pxl-item--image {
                background-color: #fff;
                @include box-shadow( 0 0 0 5px rgba(#fff, 0.2));
                svg {
                    fill: $primary_color;
                }
                i {
                    color: $primary_color;
                }
                img, i, svg {
                    @include transform( translateY(-2px) );
                }
            }
            .pxl-item--title {
                color: #fff;
                a {
                    color: #fff;
                }
            }
            .pxl-item--excerpt {
                color: #fff;
            }
            .icon-link {
                color: #fff;
                i {
                    @include animation(toRightFromLeft 0.5s forwards);
                }
            }
            .pxl-icon-bottom {
                svg {
                    path {
                        fill: rgba(#fff, 0.1);
                    }
                }
            }
        }
    }
    .box-style2 {
        @media #{$min-md} {
            display: flex;
        }
        .pxl-item--image {
            border: 1px solid #{'rgba(var(--third-color-rgb),0.3)'};
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            max-width: 80px;
            min-width: 80px;
            height: 80px;
            margin-right: 20px;
            @include border-radius(50%);
            @media #{ $max-sm } {
                margin-bottom: 20px;
                margin-right: 0;
            }
            img, svg {
                max-height: 35px;
                width: auto;
                @include transition(all .3s cubic-bezier(.24,.74,.58,1));
            }
            i {
                @include transition(all .3s cubic-bezier(.24,.74,.58,1));
                font-size: 35px;
                color: $primary_color
            }
            svg {
                fill: $primary_color;
            }
        }
        .pxl-item--title {
            margin-bottom: 15px;
            font-size: 20px;
            font-weight: bold;
            color: $color_heading;
            a {
                color: inherit;
            }
        }
        .pxl-item--excerpt {
            font-size: 15px;
            margin-bottom: 18px;
        }
        .icon-link {
            display: inline-block;
            color: $primary_color;
            font-size: 20px;
            i {
                @include transition(all 300ms linear 0ms);
            }
        }
        &:hover {
            .pxl-item--image {
                border-color: $primary_color;
                svg {
                    fill: $primary_color;
                }
                i {
                    color: $primary_color;
                }
                img, i, svg {
                    @include transform( translateY(-2px) );
                }
            }
            .pxl-item--title {
                a {
                    
                }
            }
            .icon-link {
                i {
                    @include animation(toRightFromLeft 0.5s forwards);
                }
            }
        }
    }
    .pxl-item--inner {
        &:hover {

        }
    }
}
.pxl-iconbox-grid3 {
    .pxl-item--image {
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        max-width: 75px;
        min-width: 75px;
        position: relative;
        margin: 0 auto 20px;
        img {
            width: auto;
        }
    }
    .pxl-item--title {
        margin-bottom: 15px;
        font-size: 24px;
        color: $secondary_color;
        a {
            color: $secondary_color;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-item--excerpt {
        font-size: 18px;
        @media #{ $min-xl } {
            max-width: 90%;
            margin: 0 auto;
        }
    }
    .pxl-box-main {
        position: relative;
        cursor: pointer;
    }
    .pxl-item--inner {
        position: relative;
        text-align: center;
        padding: 45px 15px 30px;
        background-color: #fff;
        &:hover {

        }
    }
}
/* Only use Icon box Grid */
.icon-box-none-shadow {
    .pxl-iconbox-grid1 .box-style1, .pxl-iconbox-carousel1 .box-style1 {
        box-shadow: none;
    }
}
.pxl-iconbox-carousel1 {
    .pxl-item--inner {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    @media #{ $min-xl } {
        .pxl-swiper-container {
            overflow: visible;
        }
        .pxl-carousel-inner {
            padding: 35px 35px 45px;
            margin-left: -35px;
            margin-right: -35px;
            overflow: hidden;
        }
    }
}
.bg-section-white-13 {
    @media #{ $min-xl } {
        position: relative;
        z-index: 1;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            content: "";
            display: block;
            width: 500px;
            background-color: #fff;
        }
    }
}

.pxl-iconbox-list1 {
    .pxl-item--title {
        font-size: 24px;
        @media #{ $max-xl } {
            font-size: 20px;
        }
    }
    .pxl-boxlist-item {
        @include transition(all .3s ease); 
        position: relative;
        z-index: 1;
        @include border-radius(20px);
        @include box-shadow(0 20px 30px 10px rgba(#000, 0.06));
        background-color: #fff;
        overflow: hidden;
        padding: 35px 15px;
        @media #{ $min-sm } {
            display: flex;
        }
        @media #{ $min-xl } {
            padding: 40px 46px;    
        }
        &:before {
            width: 162px;
            height: 162px;
            @include transition(all .3s ease); 
            background-color: #{'rgba(var(--primary-color-rgb), 0.06)'};
            content: "";
            display: block;
            @include border-radius(50%);
            position: absolute;
            top: -60px;
            left: -60px;
            z-index: -1;
        }
        .pxl-item--icon {
            min-width: 64px;
            width: 64px;
            height: 64px;
            line-height: 64px;
            @include border-radius(50%);
            margin-right: 30px;
            @include transition(all .3s ease); 
            background-color: $primary_color;
            color: #fff;
            @extend .pxl-flex-center;  
            @media #{ $max-md } {
                margin-bottom: 25px;
                margin-right: 0;
            }          
            i {
                font-size: 35px;
                line-height: 1;                
            }
        }
        + .pxl-boxlist-item {
            margin-top: 15px;
        }
        &.active {
            background-color: $primary_color;
            &:before {
                background-color: rgba(#F0F7FF, 0.3);
            }
            .pxl-item--title {
                color: #fff;
            }
            .pxl-item--excerpt {
                color: #fff;
            }
            .pxl-item--icon {
                @include box-shadow(0 5px 16px rgba(#000, 0.1));
                background-color: #fff;
                color: $primary_color;
            }
        }
    }   
}
.pxl-iconbox-list-custom {
    .pxl-iconbox-list1 {
        .pxl-boxlist-item {
            @media #{ $min-xl2 } {
                margin-left: 40px;
                margin-right: 0;
                &.active {
                    margin-left: 0;
                        margin-right: 40px;
                }   
            }
        }   
    }
}