/*--------------------------------------------------------------
POST CAROUSEL
----------------------------------------------------------------
# Carousel Style
# Blog
# Portfolio
# Service
--------------------------------------------------------------*/
.swiper-filter-active {
	.pxl-swiper-slide {
		//@include transition(all .3s cubic-bezier(.645,.045,.355,1));
	}
	.non-swiper-slide {
		display: none;
	}
}

.pxl-swiper-sliders .pxl-item--image img {
	width: 100%;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 1;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 1;
	}
}
.pxl-case-info {
	@include border-radius(10px);
	overflow: hidden;
	box-shadow: 0px 8px 18px 0px rgba(27, 18, 18, 0.05);
	.pxl-item--title {
		padding: 20px 15px;
		margin-bottom: 0;
		color: #fff;
		font-size: 24px;
		text-align: center;
		background-color: $secondary_color;
	}
	.item-icon {
		position: absolute;
		top: 5px;
		left: 0;
		width: 43px;
		height: 43px;
		@include border-radius(50%);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $primary_color;
		i {
			color: #fff;
		}
	}
	.content-item {
		position: relative;
		padding-left: 60px;
		span.lbl {
			font-size: 16px;
			margin-bottom: 2px;
			color: $third_color;
		}
		.item-text {
			font-size: 17px;
			font-weight: 600;
			color: $color_heading;
			@extend .ft-theme-default;
		}
		a {
			@extend .ft-theme-default;
			font-size: 17px;
			font-weight: 600;
			color: $color_heading;
			&:hover {
				color: $primary_color;
			}
		}
		+ .content-item {
			margin-top: 25px;
		}
		&.type-category {
			a {
				&:after {
					content: ",";
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
	.content-inner {
		padding: 50px 30px 60px;
		@media #{ $max-xxl } {
			padding: 40px 20px;
		}
		@media #{ $max-xs } {
			padding: 40px 15px;
		}
	}
}

// Start Portfolio
//--------------------------------------------------
.pxl-case-grid1, .pxl-case-carousel1 {
	.pxl-load-more {
		margin-top: 45px;
		&.pxl-loadmore-style2 {
			.btn {
				background-color: transparent;
				color: $primary_color;
				letter-spacing: 5px;
			}
		}
	}
	.pxl-swiper-dots {
		margin-top: 50px;
		@media #{ $max-md } {
			margin-top: 30px;
		}
	}
	.pxl-grid-filter {
		.filter-item {
			font-weight: 600;
			&.active, &:hover {
				color: #fff;
			}
		}
	}
	.item--featured {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			@include transition(all 300ms linear 0ms);
			@include transform(scale(1.05));
		}
	}
	.pxl-item--title {
		font-size: 28px;
		margin-bottom: 0px;
		@include transform(translateY(40px));
		@include transition(all 0.25s ease-in);
		opacity: 0;
		color: $color_heading;
		@media #{ $max-md } {
			font-size: 18px;
		}
		a {
			color: #fff;
		}
	}
	a.btn-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 56px;
		height: 56px;
		color: $primary_color;
		background-color: #fff;
		font-size: 30px;
		opacity: 0;
		margin-bottom: 20px;
		@include border-radius(50%);
		@include transition(all 200ms linear 0ms);
		@include transform(translateY(30px));
		@media #{ $max-md } {
			width: 45px;
			height: 45px;
		}
		svg {
			line-height: 1;
			@include transform(rotate(0deg));
			@include transition(all 200ms linear 0ms);
			fill: $primary_color;
		}
		&:hover {
			svg {
			 	@include transform(rotate(45deg));
			}
		}
    }
	.item--meta {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 40px 25px 30px;
		z-index: 1;
		width: 100%;
		@include transition(all 200ms linear 0ms);
		@media #{ $min-xxl } {
			padding: 50px 40px 45px;
		}
		> svg {
			position: absolute;
			top: -10px;
			left: 0;
			fill: $secondary_color;
			@include transition(all 200ms linear 0ms);
			z-index: -2;
			opacity: 0;
		}
		&:after {
			position: absolute;
			z-index: -1;
			top: 140px;
			left: -150px;
			width: 1200px;
			height: 1200px;
			content: "";
			opacity: 0;
			display: block;
			@include transform(rotate(12deg)); 
			@include transition(all 200ms linear 0ms);
			background-color: #{'rgba(var(--primary-color-rgb),0.8)'};
		}
		&.bg-meta-gradient {
			&:after {
				@include background-gradient-button(90deg, $gradient_color_from 0%, $gradient_color_to 50%, $gradient_color_from);
			}
		}
	}
	.pxl-item--inner {
		@include border-radius(12px);
		position: relative;
		overflow: hidden;
        &:hover {

        	.item--featured {
        		img {
					@include transform(scale(1.0));
        		}
        	}
			.pxl-item--title {
				font-size: 28px;
				margin-bottom: 0px;
    			@include transform(translateY(0));
		    	transition-delay: 0.3s;
				-webkit-transition-delay: 0.3s;
				opacity: 1;
				a {
					color: #fff;
				}
			}
			a.btn-link {
				@include transform(translateY(0));
		    	transition-delay: 0.23s;
				-webkit-transition-delay: 0.23s;	
				opacity: 1;
			}
			.item--meta {
				> svg {
					top: -40px;
					opacity: 1;
				}
				&:after {
					top: 110px;
					opacity: 1;
				}
			}
        }
	}
}
.pxl-case-grid1 {
	.pxl-pagination-links {
		margin-top: 25px;
	}
	.pxl-grid-item{
		float: left;
	}
}
.pxl-case-grid2, .pxl-case-carousel2 {
	.pxl-swiper-dots {
		margin-top: 50px;
	}
	.pxl-swiper-container {
		overflow: visible;
		.pxl-swiper-slide {
			opacity: 0;
			&.swiper-slide-visible {
				opacity: 1;
			}
		}
	}
	.item--featured {
		position: relative;
		z-index: 1;
		overflow: hidden;
		img {
			@include transition(.3s cubic-bezier(.24,.74,.58,1));
			@include transform(scale(1.05));
			width: 100%;
		}
	}
	.item--category {
		margin-bottom: 15px;
		border: 1px solid #fff;
		padding: 5px 15px;
		text-transform: uppercase;
		@include border-radius(35px);
		font-size: 16px;
		display: inline-block;
		a {
			&:after {
				content: ",";
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
		}
	}
	.pxl-item--title {
		font-size: 28px;
		margin-bottom: 0;
		color: $color_heading;
		@media #{ $max-lg } {
			font-size: 20px;
		}
		a {
			color: #fff;
		}
	}
	.item--meta {
		text-align: left;
		position: absolute;
		bottom: 0px;
		padding: 45px;
		width: 100%;
		z-index: 2;
		@include transform(scaleY(0));	
	    transform-origin: bottom center;
	    -moz-transform-origin: bottom center;
	    -ms-transform-origin: bottom center;
	    -webkit-transform-origin: bottom center;
	    -o-transform-origin: bottom center;
	    @include transition(.3s cubic-bezier(.24,.74,.58,1));
	    @media #{ $max-xl } {
	    	padding: 35px 35px;
	    }
	    @media #{ $max-lg } {
	    	padding-left: 20px;
	    	padding-right: 20px;
	    }
	    @media #{ $max-sm } {
	    	padding: 20px 15px;
	    }
	}
	.item-style1 {
		.item--featured {
			&:after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 0;
				bottom: 0;
				z-index: 1;
				left: 0;
				right: 0;
			    transform-origin: bottom center;
			    -moz-transform-origin: bottom center;
			    -ms-transform-origin: bottom center;
			    -webkit-transform-origin: bottom center;
			    -o-transform-origin: bottom center;
				@include transform(scaleY(0));
				@include transition(.3s cubic-bezier(.24,.74,.58,1));
				@include background-gradient-top( #{'rgba(var(--secondary-color-rgb), 0.9)'} 30%, #{'rgba(var(--primary-color-rgb), 0.1)'} 80% );
			}
		}
		.item--category {
			background-color: rgba(#fff,0.3);
			a {
				color: #fff;
			}
		}
		.btn-link {
			position: absolute;
			top: 80px;
			right: 80px;
			width: 55px;
			height: 55px;
			z-index: 2;
			background-color: $primary_color;
			@include border-radius(50%);
			display: flex;
			align-items: center;
			justify-content: center;
			@include transform(scale(0.5, 0.5));
			opacity: 0;
			svg {
				fill: #fff;
				@include transform(rotate(0deg));
				@include transition(all 200ms linear 0ms);
			}
			&:hover {
				svg {
				 	@include transform(rotate(45deg));
				}
			}
		}
		&:hover {
			.item--featured {
				img {
					@include transform(scale(1.0));
				}
				&:after {
					opacity: 1;
					@include transform(scaleY(1));	
					-webkit-transition-delay: 0.12s;
			        -moz-transition-delay: 0.12s;
			        transition-delay: 0.12s;
				}
			}
			.btn-link {
				top: 30px;
				right: 30px;
				opacity: 1;
				@include transform(scale(1, 1));
			}
		}
	}
	.item-style2 {
		.item--meta {
			background-color: $primary_color;
			@include border-radius(10px 10px 0 0);
		}
		.item--category {
			background-color: #fff;
			a {
				color: $secondary_color;
			}
		}
	}
	.pxl-item--inner {
		position: relative;
		@include border-radius(10px);
		z-index: 1;
		overflow: hidden;
		margin-bottom: 30px;
		&:hover {
			@include box-shadow(0 5px 30px #{'rgba(var(--secondary-color-rgb),0.3)'});
			.item--featured {
				img {
					@include transform(scale(1.0));
				}
			}
			.item--meta	{
		        @include transform(scaleY(1));
				-webkit-transition-delay: 0.22s;
		        -moz-transition-delay: 0.22s;
		        transition-delay: 0.22s;
		    }
		}
	}
}
.pxl-case-carousel-extra {
	.pxl-swiper-dots {
		margin-top: 45px;
	}
	.pxl-video-button {
		position: relative;
		width: 52px;
		height: 52px;
		line-height: 52px;
		font-size: 14px;
		z-index: 1;
	    &:before {
	        content: "";
	        position: absolute;
	        z-index: 0;
	        left: 0;
	        top: 0;
	        display: block;
	        width: 100%;
	        height: 100%;
	        border: 1px solid rgba(#fff, 0.63);
	        border-radius: 50%;
	        animation: pxl_scale1 1500ms ease-out infinite;
	        -webkit-animation: pxl_scale1 1500ms ease-out infinite;
	        z-index: -1;
	    }
	}
	.wp-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 25px;
		background-color: $primary_color;
	}
	.pxl-btn-link {
		width: 63px;
		height: 63px;
		@include border-radius(50%);
		background-color: rgba(#fff, 0.2);
		margin-bottom: 20px;
		@extend .pxl-flex-center;
		svg {
			fill: #fff;
			@include transition(all 200ms linear 0ms);
		}
		&:hover {
			background-color: $primary_color;
			svg {
			 	@include transform(rotate(45deg));
			}
		}
	}
	.pxl-item--title, .pxl-item--title a {
		color: #fff;
	}
	.pxl-item--title {
		font-size: 40px;
		margin-bottom: 0;
		@media #{ $max-lg } {
			font-size: 30px;
		}
		@media #{ $max-sm } {
			font-size: 25px;
		}
	}
	.inner-meta {
		padding: 50px 35px 40px;
		background-color: #{'rgba(var(--secondary-color-rgb),0.8)'};
		@media #{ $max-md } {
			background-color: $secondary_color;
			padding: 45px 15px;
		}
	}
	.pxl-meta {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		@media #{ $max-md } {
			position: static;
		}
	}
	.pxl-item--inner {
		position: relative;
		@include border-radius(20px);
		overflow: hidden;
	}
}