.pxl-progressbar-1 {
    .pxl--progressbar {
        @include border-radius(8px);
        height: 10px;
        width: 0;
        @include transition(width 1.4s ease);
        background-color: $primary_color;
    }
    .pxl--holder {
        background-color: rgba(#fff, 0.06);
        border: 1px solid rgba(#fff, 0.2);
        padding: 4px;
        @include border-radius(20px);
    }
    .pxl--percentage {
        font-size: 14px;
        font-weight: 500;
        position: relative;
        span {
            position: absolute;
            top: -30px;
            right: 0;
            color: #fff;
        }
    }
    .pxl--title {
        font-weight: 600;
        font-size: 17px;
        color: $color_heading;
        margin-right: 20px;
        margin-bottom: 17px;
        @extend .ft-theme-default;
    }
    .pxl--item {
        + .pxl--item {
            margin-top: 12px;
        }
    }
}