/* Team Grid */
.pxl-team-single1 {
    .box-icon {
        position: absolute;
        display: inline-block;
        z-index: 1;
        img {
            max-height: 141px;
        }
        &.box-icon-1 {
            top: 7px;
            left: 20px;
            animation: pxl_right_left_small 12s ease-out infinite;
            -webkit-animation: pxl_right_left_small 12s ease-out infinite;
            @media #{ $max-xsx } {
                top: 120px;
                left: -20px;
            }
        }
        &.box-icon-2 {
            top: 130px;
            right: -20px;
            animation: pxl_bottom_top_small 12s ease-out infinite;
            -webkit-animation: pxl_bottom_top_small 12s ease-out infinite;
        }
    }
    .pxl-team-avatar {
        position: relative;
        z-index: 1;
        > img {
            @include transform(translateX(10px));
            @media #{ $max-xsx } {
                @include transform(translateX(0px));
            }
        }
        &:before {
            width: 90%;
            display: block;
            bottom: 0;
            left: 0;
            z-index: -1;
            top: 60px;
            position: absolute;
            @extend .bg-gradient;
            content: "";
            @include border-radius(25px 25px 0 0);
            @media #{ $max-xsx } {
                width: 100%;
            }
        }
    }
    .pxl-meta {
        padding: 0 25px 0 20px;
        .pxl-box--title {
            color: #046270;
            @extend .ft-theme-default;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 3px;
        }
        .pxl-sub-title {
            color: #4286F5;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

    }
    .pxl-item--meta {
        position: absolute;
        bottom: 70px;
        left: -70px;
        z-index: 1;
        @extend .pxl-flex;
        padding: 10px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.60);
        @include box-shadow(0px 19px 30px 0px rgba(40, 201, 199, 0.35));
        backdrop-filter: blur(20px);
        @media #{ $max-xsx } {
            border-radius: 0;
            position: static;
            margin-bottom: 60px;
            background-color: #fff;
        }
    }
    .pxl-item--icon {
        @extend .pxl-flex-center;
        width: 75px;
        height: 75px;
        @include border-radius(50%);
        background-color: #fff;
        @include box-shadow( 0px 8px 15px rgba(41, 233, 218, 0.25) );
        img {
            max-height: 44px;
        }
        @media #{ $max-xsx } {
            width: 45px;
            height: 45px;
            img {
                max-height: 25px;
            }
        }
    }
    .pxl-item--title {
        color: $color_heading;
        font-size: 38px;
        font-weight: 700;
        font-family: 'Heebo', sans-serif;
        @media #{ $max-xsx } {
            font-size: 20px;
        }
        a {
            color: inherit;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-item--position {
        color: $primary_color;
        font-size: 24px;
        font-weight: 400;
    }
    .pxl-body {
        padding: 25px 15px 35px;
        background-color: #fff;
        @include box-shadow(0 2px 6px rgba(#000, 0.06));
        @include border-radius( 0 0 25px 25px );
        max-width: 90%;
        width: 90%;
        text-align: center;
        @media #{ $max-xsx } {
            width: 100%;
            min-width: 100%;
        }
    }
    .pxl-item--inner {
        padding-left: 70px;
        @media #{ $max-xsx } {
            padding-left: 0;
        }
    }
}
.pxl-team-single2 {
    .pxl-item--image {
        width: 73px;
        height: 73px;
        @include border-radius(50%);
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        box-shadow: 0 0 0 3px #E1F6F9;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        @include transition(all 300ms linear 0ms);
        img {
            @include transition(all 300ms linear 0ms);
            @include border-radius(50%);
            width: 100%;
        }
    }
    .pxl-item--title {
        color: $color_heading;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
        a {
            color: inherit;
        }
    } 
    .pxl-item--position {
        font-size: 17px;
        font-weight: 400;
    }
    .pxl-item--meta {

    }
    .pxl-item--inner {
        @extend .pxl-flex;
        &:hover {
            .pxl-item--image {
                box-shadow: 0 0 0 3px $primary_color;
                img {
                    @include transform(translate(1.1));
                }
            }
        }
    }
}
.pxl-team-grid1, .pxl-team-carousel1 {
    .pxl-item--image {
        margin-bottom: 22px;
        overflow: hidden;
        position: relative;
        img {
            @include transition(all 300ms linear 0ms);
            @include transform(scale(1.1));
        }
    }
    .pxl-item--position {
        color: $third_color;
    }
    .pxl-item--title {
        margin-bottom: 3px;
        font-size: 24px;
        flex-grow: 1;  
        @media ( $max-sm ) {
            font-size: 18px;
        }
        a {
            color: $color_heading;
            &:hover {
                color: $primary_color;
            }
        }
    }
    .pxl-item--meta {
        @media #{ $min-md } {
            padding-right: 60px;
            position: relative;
        }
    }
    .pxl-item--social {
        @media #{ $min-md } {
            position: absolute;
            right: 0;
            bottom: 8px;
            display: flex;
            flex-direction: column;
            width: 38px;    
            text-align: center;
        }
    }
    .pxl-list-socials {
        padding-top: 10px;
        padding-bottom: 10px;
        @include transition(all 300ms linear 0ms);
        @media #{ $min-md } {
            background-color: $primary_color;
            @include border-radius(5px);
            opacity: 0;
            margin-top: 15px;
        }
        a {
            width: 38px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            @media #{ $min-md } {
                color: #fff;
                + a {
                    margin-top: 2px;
                }
            }
            @media #{ $max-sm } {
                background-color: $secondary_color;
                color: #fff;
                width: 38px;
                height: 38px;
                line-height: 38px;
                @include border-radius(5px);
            }
        }
    }
    .item--social-btn {
        @media #{ $min-md } {
            width: 38px;
            height: 38px;
            line-height: 38px;
            background-color: #fff;
            box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.15);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            @include border-radius(5px);
            font-size: 12px;
            color: $primary_color;
            cursor: pointer;
            position: absolute;
            bottom: 0px;
            left: 0;
        }
        @media #{ $max-sm } {
            display: none;
            opacity: 0;
        }
    }
    .pxl-item--inner {
        margin-bottom: 25px;
        &:hover {
            img {
                @include transform(scale(1.0));
            }
            .item--social-btn {
                opacity: 0;
            }
            .pxl-list-socials {
                opacity: 1;
                a {
                    @media #{ $min-md } {
                        + a {
                            margin-top: 5px;
                        }
                    }
                }
            }
            .pxl-item--position {
                -webkit-transition-delay: .1s;
                -moz-transition-delay: .1s;
                transition-delay: .1s;
                @include transform(scaleY(1));
            }
        }
    }
}
.pxl-team-carousel1 {
    .el--title {
        font-size: 40px;
        font-weight: bold;
        @media #{ $min-xl2 } {
            margin-bottom: 0;
            font-size: 40px;
        }
    }
    .el--subtitle {
        display: inline-block;
        padding: 8px 20px;
        @include border-radius(25px);
        margin-bottom: 15px;
        background-color: $primary_color;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
    }
    .el-wp-title {
        margin-bottom: 30px;
        @media #{ $min-xl2 } {
            min-width: 48%;
            padding-right: 50px;
            margin-bottom: 0;
        }
    }
    .el-excerpt {
        margin-bottom: 20px;
        @media #{ $min-xl2 } {
            padding-right: 50px;
            margin-bottom: 12px;
        }
    }
    .el-arrows {
        margin-bottom: 25px;
        .pxl-swiper-arrow {
            &:hover {
                background-color: $primary_color;
                color: #fff;
            }
        }
    }
    .pxl-wrapper-heading {
        @media #{ $min-xl2 } {
            display: flex;
            align-items: end;
        }
        margin-bottom: 55px;
    }

}
.pxl-team-carousel-display-custom {
    .pxl-team-carousel1 {
        .pxl-swiper-slide {
            @media #{ $min-xl } {
                &:nth-child(2n+1) {
                    margin-top: 30px;
                }
            }
        }
    }
}
.pxl-team-grid2, .pxl-team-carousel2 {
    .pxl-item--image {
        margin-bottom: 22px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include border-radius(12px);
        img {
            @include transition(all 300ms linear 0ms);
            transform: scale(1.04);
        }
    }
    .pxl-list-socials {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        a {
            opacity: 0;
            font-size: 14px;
            color: $secondary_color;
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin-left: 3px;
            margin-right: 3px;
            text-align: center;
            display: inline-block;
            @include border-radius(35px);
            background-color: #fff;
            transform: translateY(100%);
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: $primary_color;
                color: #fff;
            }
        }
    }
    .pxl-item--meta {
        
    }
    .pxl-item--title {
        margin-bottom: 10px;
        font-size: 24px;
        color: $color_heading;
        a {
            color: inherit;
        }
    }
    .pxl-item--inner {
        text-align: center;
        &:hover {
            .pxl-item--image {
                background-color: $secondary_color;
                img {
                    opacity: 0.28;
                    transform: scale(1);
                }
            }
            .pxl-list-socials {
                a {
                    opacity: 1;
                    transform: translateY(0%);
                    &:nth-child(1) {
                        transition-delay: 0.1s;
                    }
                    &:nth-child(2) {
                        transition-delay: 0.15s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.2s;
                    }
                    &:nth-child(4) {
                        transition-delay: 0.25s;
                    }
                }
            }
        }
    }
}
.col-xl-4 {
    @media ($mm-lg2) {
        flex: 0 0 auto;
        width: 33.33333333%; 
    }
}