// Grid
//--------------------------------------------------
.pxl-section-offset-left{
    @media (min-width: 1280px) {
        &.pxl-container-width-container-1200 {
            padding-left: calc( (100% - 1300px)/2) !important;
            &.pxl-section-gap-no{
                padding-left: calc( (100% - 1270px)/2) !important;
            }
        }
    }
    .elementor-column {
        > .elementor-widget-wrap {
            @media (max-width: 1280px) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .elementor-column-gap-no {
        @media (max-width: 1280px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.pxl-section-offset-right{
    @media (min-width: 1280px){
        &.pxl-container-width-container-1200 {
            padding-right: calc( (100% - 1300px)/2) !important;
            &.pxl-section-gap-no {
                padding-right: calc( (100% - 1270px)/2) !important;
            }
        }
    }
}

.column-bg-custom {
    .elementor-widget-wrap {
        @media #{ $min-xxl } {
            padding: 120px 80px 120px 120px!important;
        }
        @media #{ $max-xl } {
            padding: 60px 30px!important;
        }
        @media #{ $max-md } {
            padding: 30px 15px!important;
        }
    }
    @media #{ $min-lg } {
        &:before {
            content: '';
            background-color: #f9f3f0;
            @include border-radius(6px);
            position: absolute;
            top: 0;
            left: -9.5rem;
            right: 15px;
            bottom: 0;
            z-index: -1;
        }
    }
}
.column-bg-custom-right {
    .elementor-widget-wrap {
        @media #{ $min-xxl } {
            padding: 120px!important;
        }
        @media #{ $max-xl } {
            padding: 60px 30px!important;
        }
        @media #{ $max-md } {
            padding: 30px 15px!important;
        }
    }
    @media #{ $min-lg } {
        &:before {
            content: '';
            background-color: #f9f3f0;
            @include border-radius(6px);
            position: absolute;
            top: 0;
            right: -9.5rem;
            left: 15px;
            bottom: 0;
            z-index: -1;
        }
    }
}
.bg-color-sc-custom {
    position: relative;
    &:before {
        content: "";
        background-color: #F7F0ED;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 530px;
        z-index: -1;
    }
}

@media screen and (min-width: 721px) {
    .timeslot .button .timeslot-mobile-title {
        display: none !important;
    }
}
@media screen and (max-width: 720px) {
    body .booked-calendar .booked-appt-list .timeslot {
        margin-bottom: 10px;
    }
    body .booked-appt-list .timeslot .spots-available {
        color: rgba(#fff, 0.67);
    }
}
.elementor-element .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}
.booked-calendar {
    .fa-solid {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        font-style: normal;
    }
}

/* Ul custom at single post */
.ul-list-custom {
    list-style: none;
    margin-top: 35px;
    li {
        &:before {
            font-family: "Bravisicon";
            content: "\f11e";
            display: inline-block;
            font-size: 15px;
            position: relative;
            top: 1px;
            margin-right: 15px;
            color: $primary_color;
        }
        + li {
            margin-top: 22px;
        }
    }
}
/* Title style at single post */
.title-single-custom {
    line-height: 42px;
    padding-bottom: 25px;
    border-bottom: 1px solid #171D26;
    margin-bottom: 25px;
}
.title-single-custom-small {
    
}