// Start Main
//--------------------------------------------------
#pxl-wapper {
	overflow-x: hidden;
	@media #{$min-xl} {
		.container {
			max-width: 1330px;
      		width: 100%;
		}
	}
	@media #{$max-lg} {
		.container {
			max-width: 100%;
		}
	}
	.elementor-widget:not(:last-child) {
		margin-bottom: 0;
	}
	@media #{$max-md} {
		#pxl-sidebar-area {
			margin-top: 80px;
		}
	}
	@media #{$min-xl} {
		.pxl-has-sidebar.pxl-sidebar-left {
			flex-direction: row-reverse;
			.pxl-sidebar-area {
				padding-right: 15px;
			}
		}
		.pxl-has-sidebar.pxl-sidebar-right {
			.pxl-sidebar-area {
				padding-left: 15px;
			}
		}
		.pxl-has-sidebar.pxl-sidebar-right {
			&.pxl-package-archive {
				.pxl-sidebar-area {
					padding-left: 15px;
				}
			}
		}
	}
}
.single-post, .woocommerce-page {
	#pxl-main {
		padding: 120px 0;
		@media #{$max-lg} {
			padding: 60px 0 60px;
		}
	}
}
.single-post, .archive {
	#pxl-wapper {
		overflow-x: unset;
	}
}
.single #pxl-wapper, .blog #pxl-wapper, .single-post #pxl-wapper, .woocommerce-page #pxl-wapper {
	overflow-x: unset;
}
#pxl-main {
	padding: 120px 0;
	@media #{$min-xl} {
		margin: 0 auto;
		> .elementor-container {
			> .row {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
	@media #{$max-lg} {
		padding: 80px 0;
	}
	@media #{$max-lg} {
		> .elementor-container {
			padding: 0 15px;
		}
	}
}

@media #{$min-xl} {
    body:not(.elementor-editor-active) .pxl-row-scroll-fixed {
        > .elementor-container {
            align-items: flex-start;
            justify-content: space-between;
        }
        .pxl-column-sticky {
            position: sticky;
            top: 30px;
        }
    }
}

@media #{$min-xl} {
    .pxl-row-scroll-fixed {
        > .elementor-container {
            align-items: flex-start;
            justify-content: space-between;
        }
        .pxl-column-sticky {
            position: sticky;
            top: 120px;
        }
    }
}

.elementor-page #pxl-footer-elementor > .row > .col-12 {
  @media (min-width: 1320px) {
	padding: 0;
  }
}

.elementor-page.single-product .woocommerce-Tabs-panel > .elementor {
	margin: 0 -15px;
}

@media #{$min-xl} {
    body:not(.elementor-editor-active) .pxl-row-scroll-fixed {
        > .elementor-container {
            align-items: flex-start;
            justify-content: space-between;
        }
        .pxl-column-sticky {
            position: sticky;
            top: 30px;
        }
    }
}
/* Coppy form to T */
.elementor-page:not(.single) #pxl-content-area.col-12,
.elementor-page:not(.single-product) #pxl-content-area.col-12 {
	padding: 0;
	min-height: 0px;
}

.elementor-page.single #pxl-content-area.col-12 {
	padding-left: 15px;
	padding-right: 15px;
}

.single-post .pxl-item--excerpt {
	> .elementor {
		margin: 0 -15px;
	}
}

.single-post .pxl-item--content {
	> .elementor {
		margin: 0 -15px;
	}
}
/* End Coppy form to T */

// Breadcrumb
//--------------------------------------------------
.pxl-breadcrumb {
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	a {
		color: inherit;
		font-size: inherit;
		&:hover {
			color: $primary_color;
		}
	}
	li {
		display: inline-block;
		align-items: center;
		margin-right: 5px;
		&:after {
			font-family: IcoFont;
			content: "\eaca";
			margin-right: 0px;
			font-size: 20px;
			text-align: center;
			font-weight: bold;
			line-height: 14px;
			display: inline-block;
			color: #fff;
			padding: 0 3px;
			position: relative;
			top: 1px;
			right: -2px;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				display: none;
			}
		}
		span {
			color: $primary_color;
			font-size: inherit;
		}
	}
}
// Start Page Title
//--------------------------------------------------
#pxl-page-title-default {
	padding: 150px 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center !important;
	background-color: $secondary_color;
	@media #{$max-lg} {
		padding: 120px 0;
	}
	@media #{$max-sm} {
		padding: 90px 0;
	}
	.container {
		z-index: 99;
		position: relative;
	}
	.pxl-page-title {
		font-size: 48px;
		margin-bottom: 0px;
		color: #fff;
		word-break: break-word;
		font-weight: 600;
		@media #{$max-lg} {
			font-size: 48px;
		}
		@media #{$max-sm} {
			font-size: 35px;
		}
		+ .pxl-breadcrumb {
			margin-top: 25px;
		}
	}
}
.error404 {
	#pxl-main {
		padding-top: 145px;
		padding-bottom: 110px;
		position: relative;
		z-index: 1;
		@media #{ $min-lg } {
			overflow: hidden;
			&:before, &:after {
				position: absolute;
				top: 0;
				z-index: -1;
			}
			&:before {
				content: url(../img/Vector-left.png);	
				left: 0;
			}
			&:after {
				content: url(../img/Vector-right.png);
				right: 0;
			}
		}
		@media #{ $max-lg} {
			padding-top: 50px;
			padding-bottom: 70px;
		}
	}
	#pxl-page-title-elementor {
		display: none;
	}
	#pxl-page-title-default {
		position: relative;
		z-index: 1;
		&:before {
			background-color: $secondary_color;
			content: "";
			display: inline-block;
			position: absolute;
			z-index: -1;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.pxl-page-title {
			font-size: 48px;
			color: #fff;
			margin-bottom: 25px;
			line-height: 1;
			@media #{ $max-lg} {
				font-size: 30px;
			}
		}
		.pxl-breadcrumb {
			li {
				color: #fff;
				a {
					color: #fff;
				}
				span {
					color: inherit;
				}
			}
		}
	}
	.content-404 {

	}
	.pxl-number-404 {
		font-size: 226px;
		line-height: 1;
		margin-bottom: 20px;
		font-weight: bold;
		position: relative;
		z-index: 1;
		display: inline-block;
		.text-primary {
			color: $primary_color;
		}
		.text-shadow {
			position: absolute;
			top: 6px;
			left: 6px;
			z-index: -1;
			color: #E1F6F9;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
		}
		&:hover {
			.text-shadow {
				top: 8px;
				left: 8px;
			}
		}
		@media #{ $max-md } {
			font-size: 130px;
			.text-shadow {
				top: 4px;
				left: 4px;
			}
			&:hover {
				.text-shadow {
					top: 6px;
					left: 6px;
				}
			}
		}
		@media #{ $max-xs } {
			font-size: 90px;
		}
	}
	.pxl-error-title {
		font-size: 50px;
		color: $secondary_color;
		margin-bottom: 22px;
		font-weight: bold;
		@media #{ $max-md } {
			font-size: 35px;
		}
	}
	.pxl-excerpt-404 {
		color: $third_color;
		font-size: 18px;
		font-weight: 400;
		margin: 0 auto 70px;
		@media #{ $max-md } {
			margin-bottom: 35px;
		}
	}
	.btn-404 {
		font-size: 16px;
		line-height: 45px;
		@include border-radius(8px);
		font-weight: 500;
		position: relative;
        z-index: 1;
        background-color: $primary_color;
        color: #fff;
        padding: 0 45px;
        &:hover, &:focus, &:active {
        	background-color: $secondary_color;
        	color: #fff;
        	@include box-shadow(0 5px 20px #{'rgba(var(--primary-color-rgb),0.5)'});
        }
	}
	.search-field {
		height: 58px;
		font-size: 18px;
		@include border-radius(7px);
		border: none;
		background-color: #F6F6F6;
		padding-right: 60px;
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 58px;
		height: 58px;
		@include border-radius(7px);
		padding: 0;
		color: #fff;
		font-size: 22px;
		font-weight: bold;
		line-height: 58px;
		background-color: $primary_color;
		&:hover, &:focus, &:active {
			background-color: $secondary_color;
			color: #fff;
		}
	}
	.searchform-wrap {
		position: relative;
	}
	.search-form {
		margin: 0 auto 45px;
		max-width: 723px;
	}
	.pxl-error-inner {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}
}
// Start Footer
//--------------------------------------------------
#pxl-footer-default {
	padding: 40px 0;
	text-align: center;
	font-size: 14px;
	background-color: #0E1541;
	color: #fff;
	a {
		color: $primary_color;
		text-decoration: underline;
	}
}
.footer-coppy-15 {
	@media ( max-width: 1300px ) {
		> .elementor-container {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.pxl-scroll-top {
	width: 55px;
	height: 55px;
	@include border-radius(55px);
	padding: 6px;
	text-align: left;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: $primary_color;
	z-index: 9999;
	@include box-shadow(0 0 25px rgba(23, 23, 23, .25));
	color: #fff;
	text-align: center;
	font-size: 20px;
	opacity: 0;
	visibility: hidden;
	@include transform(translateX(130%));
	@include transition(all 300ms linear 0ms);
	@media #{ $max-sm } {
		width: 45px;
		height: 45px;
	}
	i {
		content: "";
		position: absolute;
		top: 5px;
		bottom: 5px;
		left: 5px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		color: #000;
		background-color: #fff;
		z-index: 1;
		height: 45px;
		width: 45px;
		border-radius: 45px;
		@media #{ $max-sm } {
			height: 35px;
			width: 35px;
			border-radius: 35px;
		}
	}
	&.pxl-on {
		opacity: 1;
		@include transform(translateX(0%));
		visibility: visible;
		@media #{$max-lg} {
			bottom: 15px;
		}
	}
	&:hover, &:focus {
		i {

		}
	}
}

.pxl-footer-fixed {
	#pxl-footer-elementor {
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: -1;
		@media #{$max-lg} {
			position: static;
		}
	}
	#pxl-header-elementor {
		background-color: #fff;
	}
	#pxl-main {
		background-color: #fff;
		@media #{$max-lg} {
			margin-bottom: 0 !important;
		}
	}
}

// Start Elementor Grid
//--------------------------------------------------
.elementor-editor-active {
	#pxl-header-default, #pxl-header-elementor, #pxl-page-title-default, #pxl-footer-elementor, .pxl-menu-primary .sub-menu, .pxl-menu-primary .children, #pxl-page-title-elementor {
		display: none;
	}
	&.single-footer, &.single-header {
		#pxl-main {
			max-width: 1330px;
			padding: 0 15px;
			margin: auto;
		}
	}
    .elementor-control-media__preview {
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }
}

// Lightbox Popup
//--------------------------------------------------
body {
    img.mfp-img {
        padding: 0 !important;
    }
    .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.85;
        background-color: #000;
    }
    .mfp-bottom-bar {
        margin-top: 0;
    }
    .mfp-wrap .mfp-container {
        .mfp-content {
            max-width: 1170px;
            position: static;
            .mfp-close {
                padding: 0;
                right: 0;
                text-align: center;
                top: -36px;
                width: 36px;
                height: 36px;
                @include border-radius(0);
                background: rgba(#fff, 1);
                cursor: pointer;
                opacity: 1;
             	font-size: 0px;
             	border: 9px solid transparent;
             	position: absolute;
             	&:before, &:after {
			        content: '';
			        position: absolute;
			        height: 2px;
			        width: 100%;
			        top: 50%;
			        left: 0;
			        margin-top: -1px;
			        transform-origin: 50% 50%;
			        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
			        background-color: #222;
			    }
			    &:before {
			        @include transform(rotate(45deg));
			    }
			    &:after {
			        @include transform(rotate(-45deg));
			    }
			    &:hover {
			        &:before, &:after {
			            @include transform(rotate(0deg));
			        }
			    }
            }
        }
        .mfp-iframe-scaler {
            position: relative;
            overflow: visible;
        }
        .mfp-arrow {
            background-color: $primary_color;
            width: 60px;
            height: 120px;
            opacity: 1;
            &:before, &:after {
                border: none;
            }
            &:before {
                font-family: "Bravisicon";
                font-size: 20px;
                color: #fff;
                margin: 0;
                padding: 0;
                line-height: normal;
                position: absolute;
                top: 50%;
                display: block;
                @include transform(translate(-50%, -50%));
                opacity: 1;
                left: 50%;
                width: auto;
                height: auto;
            }
            &.mfp-arrow-left:before {
              content: "\f103";
            }
            &.mfp-arrow-right:before {
              content: "\f104";
            }
        }
    }
    @media #{$min-xl} {
        .mfp-wrap .mfp-container {
            padding: 0 120px;
        }
    }
}

@media #{$min-lg} {
	body.blog , body.single-post {
		.pxl-content-wrap.no-sidebar .pxl-content-area {
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// Row Divider
//--------------------------------------------------
.pxl-row-divider-angle-top {
	z-index: 1;
	.pxl-row-angle {
		z-index: -1;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		@include transform(scaleX(-1) scaleY(-1));
	}
}
/* Start Keyframe Loading Rounder */
@keyframes spin_loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Keyframe bubbles Loading */
@keyframes bubbles {
  0% {
    box-shadow: 4px -10px rgba(255, 0, 0, 0), 6px 0px rgba(255, 0, 0, 0), 8px -15px rgba(255, 0, 0, 0), 12px 0px rgba(255, 0, 0, 0);
  }
  20% {
    box-shadow: 4px -20px rgba(255, 0, 0, 0), 8px -10px rgba(255, 0, 0, 0), 10px -30px rgba(255, 255, 255, 0.5), 15px -5px rgba(255, 0, 0, 0);
  }
  40% {
    box-shadow: 2px -40px rgba(255, 255, 255, 0.5), 8px -30px rgba(255, 0, 0, 0.4), 8px -60px rgba(255, 255, 255, 0.5), 12px -15px rgba(255, 255, 255, 0.5);
  }
  60% {
    box-shadow: 4px -60px rgba(255, 255, 255, 0.5), 6px -50px rgba(255, 0, 0, 0.4), 10px -90px rgba(255, 255, 255, 0.5), 15px -25px rgba(255, 255, 255, 0.5);
  }
  80% {
    box-shadow: 2px -80px rgba(255, 0, 0, 0.5), 4px -70px rgba(255, 0, 0, 0.4), 8px -120px rgba(255, 0, 0, 0), 12px -35px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 4px -100px rgba(255, 0, 0, 0), 8px -90px rgba(255, 0, 0, 0), 10px -120px rgba(255, 0, 0, 0), 15px -45px rgba(255, 0, 0, 0);
  }
}
//--------------------------------------------------
/* End bubbles Loading */

/* Triangle */
@keyframes pxl_dot_triangle {
  33% {
    transform: translate(0, 0);
  }
  66% {
    transform: translate(10px, -18px);
  }
  100% {
    transform: translate(-10px, -18px);
  }
}

/* Text(Default) */
@keyframes pxl_load_spinner {
    to {
        @include transform(rotateZ(360deg));
    }
}
@keyframes pxl_load_characters {
    0%,
    75%,
    100% {
        opacity: 0;
        @include transform(rotateY(-90deg));
    }
    25%,
    50% {
        opacity: 1;
        @include transform(rotateY(0deg));
    }
}


// site Loader
//--------------------------------------------------

.pxl-loader {
	background-color: $secondary_color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	.pxl-loader-effect {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
	&.style-business {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1005;
		position: fixed;
		overflow: visible;
		background: #ffffff url("../img/preloader.svg") no-repeat center center;
	}
	&.style-text {
		@include transition(all 1s ease-in-out);
		.pxl-loader-inner {
			width: 100%;
		}
		.preloader-inner {
			.spinner {
				border: 3px solid #fff;
				border-top-color: $primary_color;
				width: 80px;
				height: 80px;
				margin: 0 auto;
				@include border-radius(50%);
				@include animation(pxl_load_spinner 1s infinite linear);
				+ .loading-text {
					margin-top: 3%;
				}
				@media #{$max-xs} {
					width: 50px;
					height: 50px;
				}
			}
			.loading-text {
				font-size: calc(26px + 1.8vw);
				line-height: 60px;
				font-weight: 700;
				text-align: center;
				user-select: none;
				@include transition(all 0.5s ease-in-out);
				span {
					position: relative;
					display: inline-block;
					color: #fff;
					margin: 0 3px;
					@media #{$max-xs} {
						margin: 0 2px;
					}
					&:before {
						content: attr(data-text);
						position: absolute;
						left: 0;
						top: 0px;
						opacity: 0;
						color: $primary_color;
						@include transform(rotateY(-90deg));
						@include animation(pxl_load_characters 5s infinite);
					}
					@for $i from 2 through 200 {
						&:nth-child(#{$i}):before {
							-webkit-animation-delay: #{0.2s * ($i - 1)};
							animation-delay: #{0.2s * ($i - 1)};
						}
					}
				}
			}
		}
		&.hide {
			opacity: 0;
			visibility: hidden;
			width: 0%;
			.preloader-inner .loading-text {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&.style-experiment {
		.loader-experiment {
			width: 64px;
			height: 64px;
			display: block;
			border: 1px solid #FFF;
			border-radius: 50px ;
			position: relative;
			box-shadow: 0px 0px $primary_color inset;
			background-color: #fff;
			background-image: linear-gradient($primary_color 100px, transparent 0);
			background-position: 0  20px;
			background-size: 100% auto;
			background-repeat: no-repeat;
			box-sizing: border-box;
			&:after {
				content: '';
				box-sizing: border-box;
				position: absolute;
				left: 50%;
				top: 0%;
				transform: translate(-50% , -95%);
				border: 2px solid #FFF;
				border-bottom: none;
				background: #fff;
				width: 15px;
				height: 35px;  	
			}
			&:before {
				content: '';
				box-sizing: border-box;
				left: 50%;
				transform: translateX(-125%);
				bottom: -4px;
				border-radius: 50%;
				position: absolute;
				width: 6px;
				height: 6px;
				z-index: 10;
				animation: bubbles 6s linear infinite;		
			}
		}
	}
}

