@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

// Starts at zero
// Another grid mixin that ensures the min-width of the lowest breakpoint starts at 0.
@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}
// BACKGROUND GRADIENT
@mixin background-gradient-button($rotate, $color1, $color2, $color3) {
    background-image: -webkit-linear-gradient($rotate, $color1, $color2, $color3);
    background-image:    -moz-linear-gradient($rotate, $color1, $color2, $color3);
    background-image:     -ms-linear-gradient($rotate, $color1, $color2, $color3);
    background-image:      -o-linear-gradient($rotate, $color1, $color2, $color3);
    background-image:         linear-gradient($rotate, $color1, $color2, $color3);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}
@mixin background-gradient-rotate($rotate, $startColor, $endColor) {
    background-image: -webkit-linear-gradient($rotate, $startColor, $endColor);
    background-image:    -moz-linear-gradient($rotate, $startColor, $endColor);
    background-image:     -ms-linear-gradient($rotate, $startColor, $endColor);
    background-image:      -o-linear-gradient($rotate, $startColor, $endColor);
    background-image:         linear-gradient($rotate, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}
@mixin background-gradient-top($startColor: #ffb400, $endColor: #f9a33a) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(to top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(to top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(to top, $startColor, $endColor);
    background-image:      -o-linear-gradient(to top, $startColor, $endColor);
    background-image:         linear-gradient(to top, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}
@mixin background-gradient-bottom($startColor: #ffb400, $endColor: #f9a33a) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(to bottom, $startColor, $endColor);
    background-image:    -moz-linear-gradient(to bottom, $startColor, $endColor);
    background-image:     -ms-linear-gradient(to bottom, $startColor, $endColor);
    background-image:      -o-linear-gradient(to bottom, $startColor, $endColor);
    background-image:         linear-gradient(to bottom, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
}

// BACKGROUND HORIZONTAL
@mixin background-horizontal($startColor: #ffb400, $endColor: #f9a33a) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, right top, left top, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(to right, $startColor, $endColor);
    background-image:    -moz-linear-gradient(to right, $startColor, $endColor);
    background-image:     -ms-linear-gradient(to right, $startColor, $endColor);
    background-image:      -o-linear-gradient(to right, $startColor, $endColor);
    background-image:         linear-gradient(to right, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}

// BACKGROUND RADIAL
@mixin background-radial($startColor: #FFFFFF, $startPos: 0%, $endColor: #000000, $endPos:100%) {
    background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos,$startColor), color-stop($endPos,$endColor));
    background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: -o-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos,$endColor $endPos);
    background: radial-gradient(ellipse at center, $startColor $startPos,$endColor $endPos);
}

@mixin pxl-bg-gradient($direction, $list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
}

// BACKGROUND SIZE
@mixin background-size($width: 100%, $height: $width) {
    @if type-of($width) == 'number' and $height != null {
        @include css3-prefix('background-size', $width $height);
    } @else {
        @include css3-prefix('background-size', $width);
    }
}

// BACKGROUND COLOR OPACITY
@mixin background-opacity($color: #000, $opacity: 0.85) {
    background: $color;
    background: rgba($color, $opacity);
}

// BORDER RADIUS
@mixin border-radius($radius: 5px) {
    @include css3-prefix('border-radius', $radius);
}

@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
    -webkit-border-top-left-radius:     $topLeftRadius;
    -webkit-border-top-right-radius:    $topRightRadius;
    -webkit-border-bottom-right-radius: $bottomRightRadius;
    -webkit-border-bottom-left-radius:  $bottomLeftRadius;

    -moz-border-radius-topleft:     $topLeftRadius;
    -moz-border-radius-topright:    $topRightRadius;
    -moz-border-radius-bottomright: $bottomRightRadius;
    -moz-border-radius-bottomleft:  $bottomLeftRadius;

    border-top-left-radius:     $topLeftRadius;
    border-top-right-radius:    $topRightRadius;
    border-bottom-right-radius: $bottomRightRadius;
    border-bottom-left-radius:  $bottomLeftRadius;
}

// BOX
@mixin box($orient: horizontal, $pack: center, $align: center) {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    @include css3-prefix('box-orient', $orient);
    @include css3-prefix('box-pack', $pack);
    @include css3-prefix('box-align', $align);
}

// BOX RGBA
@mixin box-rgba($r: 60, $g: 3, $b: 12, $opacity: 0.23, $color: #3C3C3C) {
    background-color: transparent;
    background-color: rgba($r, $g, $b, $opacity);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color}',endColorstr='#{$color}');
    zoom:   1;
}


// BOX SHADOW
@mixin box-shadow($x) {
    @include css3-prefix('box-shadow', $x);
}

// BOX SIZING
@mixin box-sizing($type: border-box) {
    @include css3-prefix('box-sizing', $type);
}

// COLUMNS
@mixin columns($count: 3, $gap: 10) {
    @include css3-prefix('column-count', $count);
    @include css3-prefix('column-gap', $gap);
}
@mixin flex-auto(){
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto ;
    max-width: 100%;
}
@mixin flex-100(){
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100% !important;
    max-width: 100%;
}
@mixin flex-basic(){
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
// DOUBLE BORDERS
@mixin double-borders($colorOne: #3C3C3C, $colorTwo: #999999, $radius: 0) {
    border: 1px solid $colorOne;

    @include css3-prefix('box-shadow', 0 0 0 1px $colorTwo);

    @include border-radius( $radius );
}

// FLEX
@mixin flex($value: 1) {
    @include css3-prefix('box-flex', $value);
}

// FLIP
@mixin flip($scaleX: -1) {
    @include css3-prefix('transform', scaleX($scaleX));
    filter:            FlipH;
    -ms-filter:        "FlipH";
}

// FONT FACE
@mixin font-face($fontFamily: myFont, $eotFileSrc: 'myFont.eot', $woffFileSrc: 'myFont.woff', $ttfFileSrc: 'myFont.ttf', $svgFileSrc: 'myFont.svg', $svgFontID: '#myFont') {
    font-family: $fontFamily;
    src: url($eotFileSrc)  format('eot'),
    url($woffFileSrc) format('woff'),
    url($ttfFileSrc)  format('truetype'),
    url($svgFileSrc + $svgFontID) format('svg');
}

// OPACITY
@mixin opacity($opacity: 0.5) {
    $opacityMultiplied: ($opacity * 100);

    filter:         alpha(opacity=$opacityMultiplied);
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityMultiplied + ")";
    @include css3-prefix('opacity', $opacity);
}


// OUTLINE RADIUS
@mixin outline-radius($radius: 5px) {
    @include css3-prefix('outline-radius', $radius);
}

// RESIZE
@mixin resize($direction: both) {
    @include css3-prefix('resize', $direction);
}

// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
    @include css3-prefix('transform', rotate($deg + deg));
    filter: progid:DXImageTransform.Microsoft.Matrix(
                    M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
    zoom: 1;
}

// TEXT SHADOW
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

// TRANSFORM
@mixin transform($params) {
    @include css3-prefix('transform', $params);
}

// TRANSFORM ORIGIN
@mixin transform-origin($params) {
    @include css3-prefix('transform-origin', $params);
}

// TRANSFORM STYLE
@mixin transform-style($style: preserve-3d) {
    @include css3-prefix('transform-style', $style);
}

// TRANSITION
@mixin transition($properties...) {
    @if length($properties) >= 1 {
        @include css3-prefix('transition', $properties);
    }
    @else {
        @include css3-prefix('transition', 'all 300ms ease-in-out');
    }
}
// TRIPLE BORDERS
@mixin triple-borders($colorOne: #3C3C3C, $colorTwo: #999999, $colorThree: #000000, $radius: 0) {
    border: 1px solid $colorOne;

    @include border-radius($radius);

    @include css3-prefix('box-shadow', 0 0 0 1px $colorTwo, 0 0 0 2px $colorThree);
}

// KEYFRAMES
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// ANIMATION
@mixin animation($str) {
    @include css3-prefix('animation', $str);
}


// ThemeAmber
// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

$max-3xs: "screen and (max-width: 360px)";
$max-xsx: "screen and (max-width: 480px)";
$max-xs: "screen and (max-width: 575px)";
$max-sm: "screen and (max-width: 767px)";
$max-md: "screen and (max-width: 991px)";
$max-md2: "screen and (max-width: 1024px)";
$max-lg: "screen and (max-width: 1199px)";
$max-lg2: "screen and (max-width: 1260px)";
$max-lg3: "screen and (max-width: 1280px)";
$max-xl: "screen and (max-width: 1400px)";
$max-xxl: "screen and (max-width: 1600px)";
$max-xxx: "screen and (max-width: 1900px)";

$min-sm: "screen and (min-width: 576px)";
$min-md: "screen and (min-width: 768px)";
$min-lg: "screen and (min-width: 992px)";
$min-lg2: "screen and (min-width: 1025px)";
$min-xl: "screen and (min-width: 1200px)";
$min-xl2: "screen and (min-width: 1260px)";
$min-xxl: "screen and (min-width: 1400px)";
$min-xxl2: "screen and (min-width: 1600px)";
$min-xxf: "screen and (min-width: 2200px)";

$mm-sm: "(min-width: 576px) and (max-width: 767px)";
$mm-xtr: "(min-width: 576px) and (max-width: 991px)";
$mm-md: "(min-width: 768px) and (max-width: 991px)";
$mm-md1: "(min-width: 768px) and (max-width: 1024px)";
$mm-md2: "(min-width: 1025px) and (max-width: 1199px)";
$mm-md3: "(min-width: 991px) and (max-width: 1199px)";

$mm-lg: "(min-width: 992px) and (max-width: 1199px)";
$mm-lg2: "(min-width: 992px) and (max-width: 1280px)";
$mm-lg3: "(min-width: 768px) and (max-width: 1199px)";
$mm-lg4: "(min-width: 768px) and (max-width: 1400px)";
$mm-xl: "(min-width: 1200px) and (max-width: 1400px)";
$mm-xl2: "(min-width: 992px) and (max-width: 1400px)";
$mm-xl3: "(min-width: 1400px) and (max-width: 1600px)";

// Color Custom
$color_dark1: #171D26;
$color_dark2: #042f39;
$color_dark3: #636363;
$color_lambent: #eee;
$color_heading: #131022;
@keyframes pxl-ken-burns-in {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(1.3);
    }
}
@keyframes pxl-ken-burns-out {
    0% {
        transform:scale(1.3);
    }
    100% {
        transform:scale(1);
    }
}
@keyframes pxl-ken-burns-in-out {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(1.3);
    }
    100% {
        transform:scale(1);
    }
}

@keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
@-webkit-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
@-ms-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
@-moz-keyframes BackgroundAnimated {
    from {
        background-position:0 0
    }
    to {
        background-position:100% 0
    }
}
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes bounce-2 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(30px); }
    100% { transform: translateY(0); }
}
.bounce-1 {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce-1;
    animation-timing-function: linear;
}
.bounce-2 {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: top;
    animation-name: bounce-1;
    animation-timing-function: linear;
}
.bounce-3 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: top;
    animation-name: bounce-3;
    animation-timing-function: linear;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes pxl_scale1 {
  0% {
    transform: scale(1);
    opacity: 0.67;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

@-webkit-keyframes pxl_scale1 {
  0% {
    transform: scale(1);
    opacity: 0.67;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes pxl_scale2 {
  0% {
    transform: scale(1.2);
    opacity: 0.57;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}

@-webkit-keyframes pxl_scale2 {
  0% {
    transform: scale(1.2);
    opacity: 0.57;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}

@-ms-keyframes pxl_spin {
    from { -ms-transform: rotate(0deg) ; }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes pxl_spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes pxl_spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes pxl_spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-ms-keyframes pxl_spin_rv {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-360deg); }
}
@-moz-keyframes pxl_spin_rv {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes pxl_spin_rv {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes pxl_spin_rv {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}
@keyframes pxl_spin2 {
 0%{
    transform: rotate(0deg);
   }
100%{
    transform: rotate(360deg);
   }
}
@keyframes icon-bounce-right {
 0%, 100%, 20%, 50%, 80% {
  -webkit-transform: translateY(0);
  -ms-transform:     translateY(0);
  transform:         translateY(0)
 }
 40% {
  -webkit-transform: translateX(8px);
  -ms-transform:     translateX(8px);
  transform:         translateX(8px)
 }
 60% {
  -webkit-transform: translateX(4px);
  -ms-transform:     translateX(4px);
  transform:         translateX(4px)
 }
}
@-webkit-keyframes shakeThatBooty {
    33% {
        @include transform(rotateZ(20deg));
    }
    67% {
        @include transform(rotateZ(-20deg));
    }
    100% {
        @include transform(rotateZ(20deg));
    }
}
@-moz-keyframes shakeThatBooty {
    33% {
        @include transform(rotateZ(20deg));
    }
    67% {
        @include transform(rotateZ(-20deg));
    }
    100% {
        @include transform(rotateZ(20deg));
    }
}
@keyframes shakeThatBooty {
    33% {
        @include transform(rotateZ(20deg));
    }
    67% {
        @include transform(rotateZ(-20deg));
    }
    100% {
        @include transform(rotateZ(20deg));
    }
}
@-webkit-keyframes pxl_right_from_left {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes pxl_right_from_left {
  49% {
    -moz-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes pxl_right_from_left {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes pxl_left_from_right {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes pxl_left_from_right {
  49% {
    -moz-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes pxl_left_from_right {
  49% {
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes pxl_bounce {
 0%, 100%, 20%, 50%, 80% {
  -webkit-transform: translateY(0);
  -ms-transform:     translateY(0);
  transform:         translateY(0)
 }
 40% {
  -webkit-transform: translateY(-8px);
  -ms-transform:     translateY(-8px);
  transform:         translateY(-8px)
 }
 60% {
  -webkit-transform: translateY(-4px);
  -ms-transform:     translateY(-4px);
  transform:         translateY(-4px)
 }
}

@keyframes pxl_zigzag {
 0%, 100%, 20%, 50%, 80% {
  -webkit-transform: translateY(0);
  -ms-transform:     translateY(0);
  transform:         translateY(0)
 }
 40% {
  -webkit-transform: rotate(10deg);
  -ms-transform:     rotate(10deg);
  transform:         rotate(10deg)
 }
 60% {
  -webkit-transform: rotate(-10deg);
  -ms-transform:     rotate(-10deg);
  transform:         rotate(-10deg)
 }
}

@keyframes pxl_right_left {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(40px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes pxl_right_left_small {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.slide-right-to-left {
    animation: pxl_right_left 12s ease-out infinite;
    -webkit-animation: pxl_right_left 12s ease-out infinite;
}

@keyframes pxl_left_right {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-40px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes pxl_left_right_small {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}


.slide-left-to-right {
    animation: pxl_left_right 12s ease-out infinite;
    -webkit-animation: pxl_left_right 12s ease-out infinite;
}

@keyframes pxl_bottom_top_small {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pxl_bottom_top {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateY(40px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slide-bottom-to-top {
    animation: pxl_bottom_top 12s ease-out infinite;
    -webkit-animation: pxl_bottom_top 12s ease-out infinite;
}

@keyframes pxl_effect1 {
    0%{
        transform:translate(0px,0px)
    }
    20%{
        transform:translate(40px,-5px)
    }
    40%{
        transform:translate(60px,40px)
    }
    60%{
        transform:translate(40px,60px)
    }
    80%{
        transform:translate(-40px,60px)
    }
    100%{
        transform:translate(0px,0px)
    }
}

.slide-effect1 {
    animation: pxl_effect1 12s ease-out infinite;
    -webkit-animation: pxl_effect1 12s ease-out infinite;
}

@keyframes pxl_effect2 {
    0%{
        transform:translate(0px,0px)
    }
    20%{
        transform:translate(-30px,40px)
    }
    40%{
        transform:translate(60px,60px)
    }
    60%{
        transform:translate(70px,40px)
    }
    80%{
        transform:translate(40px,-70px)
    }
    100%{
        transform:translate(0px,0px)
    }
}

.slide-effect2 {
    animation: pxl_effect2 12s ease-out infinite;
    -webkit-animation: pxl_effect2 12s ease-out infinite;
}

@keyframes pxl_top_bottom {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.slide-top-to-bottom {
    animation: pxl_top_bottom 12s ease-out infinite;
    -webkit-animation: pxl_top_bottom 12s ease-out infinite;
}

@-webkit-keyframes img_circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes img_circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes full-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pxl_loader_bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes pxl_loader_bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.icon-bounce {
  animation: icon-bounce 2s ease infinite;
}
@keyframes icon-bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

@keyframes bounce-out-down {
  0% { transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0.1;
    transform: translateY(5px);
  }
}

@-webkit-keyframes bounce-out-down {
  0% { transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0.1;
    transform: translateY(5px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary_color, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba($primary_color, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($primary_color, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary_color, 0.4);
    box-shadow: 0 0 0 0 rgba($primary_color, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba($primary_color, 0);
      box-shadow: 0 0 0 10px rgba($primary_color, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($primary_color, 0);
      box-shadow: 0 0 0 0 rgba($primary_color, 0);
  }
}



@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes flipX {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@keyframes flipX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes pxl-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes pxl-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

@-webkit-keyframes pxl-cubeGridScaleDelay2 {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0.5, 0.5, 1);
            transform: scale3D(0.5, 0.5, 1); 
  }
}

@keyframes pxl-cubeGridScaleDelay2 {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0.5, 0.5, 1);
            transform: scale3D(0.5, 0.5, 1);
  } 
}
@keyframes full-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading of bodyloading */
@-webkit-keyframes progress-loading{
    0%{width:0}
    to{width:90%}
}
@keyframes progress-loading{
    0%{width:0}
    to{width:90%}
}
@-webkit-keyframes progress-loaded{
    0%{width:90%}
    99%{width:100%}
    to{opacity:0}
}
@keyframes progress-loaded{
    0%{width:90%}
    99%{width:100%}
    to{opacity:0}
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom-in-small {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
.pxl-image-zoom {
    animation: zoom-in-zoom-out 12s ease-out infinite;
    -webkit-animation: zoom-in-zoom-out 12s ease-out infinite;   
}
.zoom-in-small {
    animation: zoom-in-small 3s ease-in infinite;
    -webkit-animation: zoom-in-small 3s ease-in infinite;   
}