.pxl-item--archive {
	margin-bottom: 30px;
	.pxl-item--title {
		font-size: 35px;
		line-height: 1.13;
		margin-bottom: 20px;
		font-weight: 600;
		@media #{ $max-lg } {
			font-size: 30px;
		}
		@media #{ $max-sm } {
			font-size: 28px;
		}
		i {
			background-color: $primary_color;
			@include border-radius(8px);
			font-size: 18px;
			line-height: 1;
			padding: 7px 8px 5px;
			color: #fff;
			position: relative;
			top: -3px;
		}
		a {
			color: inherit;
			word-break: break-word;
			&:hover {
				color: $primary_color;
				background-position: 0;
			}
		}
	}
	.pxl-item--excerpt {
		margin-bottom: 20px;
		@media #{ $min-xl } {
			padding-right: 50px;
		}
	}
	.pxl-item--meta {
		list-style: none;
		border-bottom: 1px solid #E2E5F1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		list-style: none;
		font-weight: 600;
		margin-bottom: 20px;
		padding-bottom: 12px;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		@media #{ $min-xl } {
			margin-left: -40px;
			margin-right: -40px;
			padding-left: 40px;
			padding-right: 40px;
		}
		li {
			display: inline-block;
			color: $third_color;
			padding-left: 25px;
			margin-right: 25px;
			font-weight: normal;
			position: relative;
			font-size: 14px;
			font-weight: 500;
			&.item--author {
				z-index: 1;
				padding: 5px 8px 5px 0px;
				img {
					@include transition(all .5s ease);
					width: 38px;
					height: 38px;
					@include border-radius(38px);
					margin-right: 12px;
					@media #{ $max-sm } {
						width: 20px;
						height: 20px;
						margin-right: 10px;
						@include border-radius(20px);
					}
				}
				a {
					color: inherit;
					&:hover {
						color: $primary_color;
					}
				}
			}
			&:last-child {
				padding-right: 0;
				margin-right: 0;
			}
			i {
				color: $primary_color;
				font-size: 16px;
				margin-right: 5px;
				line-height: 1;
				position: absolute;
				top: 2px;
				left: 0;
			}
			&.item--category {
				a {
					margin-right: 5px;
					display: inline-block;
					&:last-child {
						margin-right: 0;
					}
					&:hover {
						color: $primary_color;
					}
				}
			}
		}
		a {
			color: inherit;
			&:hover {
				color: $primary_color;
			}
		}
	}
	.pxl-item--readmore {
		a {
			color: $secondary_color;
			font-size: 14px;
			font-weight: 500;
			line-height: 32px;
			overflow: visible;
			position: relative;
			z-index: 1;
			background-color: transparent;
			padding-left: 25px;
			padding-right: 0;
	        i {
	        	margin-left: 0px;
	        	font-size: 16px;
			    display: inline-flex;
			    justify-content: center;
			    align-items: center;
			    line-height: 1;
			    position: absolute;
			    top: 9px;
			    left: 0;
			    cursor: pointer;
			    @include transition(all 300ms linear 0ms);
	        }
	        &:hover {
	        	padding-left: 0;
	        	padding-right: 25px;
	        	color: $primary_color;
	        	i {
		        	left: 90%;
	        	}
	        }
		}
	}
	.pxl-feature {
		position: relative;
		z-index: 1;
		iframe {
			width: 100%;
			.player {
				width: 100%;
			}
		}
		a {
			display: block;
		}
		img {
			@include transition(all 300ms linear 0ms);
			@include transform(scale(1.01));
		}
		&.pxl-item--image, &.feature-video, &.quote-inner {
			+ .pxl-item--holder {
				position: relative;
				top: -1px;
				@include border-radius(0 0 8px 8px);
				padding: 20px;
				padding-bottom: 35px;
				@media #{ $min-xl } {
					padding: 15px 40px 45px;
				}
			}
		}
		&.pxl-item--image {
			overflow: hidden;
			@include border-radius(8px 8px 0 0);
			a {
				overflow: hidden;
				display: block;
			}
		}
		.item--date {
			position: absolute;
			top: 25px;
			left: 25px;
			color: $primary_color;
			padding: 8px 15px;
			display: flex;
			align-items: center;
			font-size: 15px;
			font-weight: 500;
			background-color: #fff;	
		}
	}
	.pxl-item--holder {
		@include transition(all .5s ease);
		position: relative;
		border: 1px solid #eee;
		@include border-radius(8px);
		padding: 15px 20px 45px;
		@media #{ $min-xl } {
			padding: 15px 40px 45px;
		}
	}
	.quote-inner {
		blockquote {
			@include border-radius(8px);
			overflow: hidden;
			margin-bottom: 0;
			margin-top: 0;
			background-color: $color_dark1;
			padding-left: 88px;
			padding-right: 30px;
		    &:after {
		      content: "\efce";
		      bottom: auto;
		      right: auto;
		      left: 25px;
		      top: 30px;
		    }
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
			.quote-text {
				letter-spacing: -1px;
				font-weight: normal;
				font-style: italic;
			}
			.quote-cite {
				color: #F9EAE2;
				font-size: 1rem;
				line-height: 1.5rem;
				letter-spacing: 0.05rem;
			}
		}
	}
	.feature-link {
		@include border-radius(5px);
		display: flex;
		align-items: center;
		font-size: 1.5rem;
		line-height: 2rem;
		background-color: #f4f5f9;
		color: $primary_color;
		background-size: cover;
		padding: 40px 50px 30px;
		letter-spacing: -0.3px;
		word-break: break-word;
		font-style: italic;
		column-gap: 1rem;
		@media #{ $max-sm } {
			padding: 35px 15px 30px;
		}
		.link-icon {
			a {
				font-size: 20px;
				display: inline-block;
				line-height: 1;
				svg {
					width: 40px;
					height: 40px;
					fill: $primary_color;
				}
			}
		}
		a.link-text {
			color: $primary_color;
			position: relative;
			top: -5px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.feature-video {
		border-radius: 5px;
		iframe {
			@include border-radius(5px);
			width: 100%;
			@media #{ $min-md } {
				max-height: 350px;
			}
			.player {
				width: 100%;
			}
		}
	}
	.feature-audio {
		@media #{ $min-md } {
			width: 100%;
			min-height: auto;
		}
		@include border-radius(5px);
		iframe {
			padding: 0;
			@include border-radius(5px);
			width: 100%;
			height: 120px;
			.player {
				width: 100%;
			}
		}
	}
	.feature-gallery {
		.pxl-swiper-slide {
			padding-left: 0;
			padding-right: 0;
		}
		.pxl-swiper-arrow {
		    opacity: 1;
		    visibility: visible;
		    width: 30px;
		    height: 30px;
		    @include border-radius(50%);
		    background-color: $secondary_color;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			@include transition(all .5s ease);
		    i {
		        font-size: 18px;
		        width: 15px;
		        height: 32px;
		        display: flex;
		        align-items: center;
		        justify-content: center;
		        color: #fff;
		    }
		    &.swiper-button-disabled {
		        cursor: not-allowed;
		    }
		    &.pxl-swiper-arrow-prev {
		        left: 30px;
		    }
		    &.pxl-swiper-arrow-next {
		        right: 30px;
		    }
		    &:hover {
		    	background-color: $primary_color;
		    }
		}
		.pxl-swiper-slider {
			position: relative;
			&:hover {
				.pxl-swiper-arrow {
			    	background-color: $primary_color;
				    &.pxl-swiper-arrow-prev {
				        left: 15px;
				    }
				    &.pxl-swiper-arrow-next {
				        right: 15px;
				    }
				}
			}
		}
	}
	&:hover {
		.pxl-feature {
			img {
				transform: scale(1.0);
			}
			.pxl-item--category {
				left: 30px;
				opacity: 1;
			}
		}
	}
}
.search-results {
	.pxl-item--post {
		&.pxl-template {
			.pxl-item--meta {
				.pxl-item--category {
					display: none;
				}
			}
		}
		&.type-page {
			.pxl-item--meta {
				.pxl-item--category, .item-comment {
					display: none;
				}
				.pxl-item--author {
					&:before {
						display: none;
					}
				}
			}
		}
		&.type-product {
			.pxl-item--image {
				margin-bottom: 43px;
			}
			.pxl-item--meta {
				display: none;
			}
			.pxl-item--readmore {
				display: none;
			}
			.pxl-item--excerpt {
				margin-bottom: 0;
			}
		}
	}
}
.single-post {
	.pxl--tags {
		flex-grow: 1;
		margin-bottom: 15px;
		a {
			line-height: 32px;
			display: inline-block;
			padding: 0 15px;
			@include border-radius(35px);
			background: #E1F6F9;
			color: #4286F5;
			font-size: 13px;
			font-weight: 500;
			margin: 3px 3px 3px 0;
			&:hover {				
				color: $primary_color;
			}
		}
	}	
	.pxl-item--image {
		position: relative;
		margin-bottom: 25px;
		.pxl-item--category {
			font-size: 14px;
			position: absolute;
			top: 30px;
			left: 30px;
			padding: 10px 20px;
			@include border-radius(30px);
			background-color: $primary_color;
			display: flex;
			a {
				display: inline-block;
				color: #000;
			}
		}
	}
	.single-heading {
		font-size: 26px;
	}
	.pxl-item--meta {
		list-style: none;
		margin: 0 0 15px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		font-size: 24px;
		color: $secondary_color;
		li {
			font-family: "DM Sans", sans-serif;
			display: inline-block;
			color: $third_color;
			position: relative;
			font-weight: 600;
			padding-left: 0;
			padding-right: 20px;
			margin-right: 20px;
			@include transition(all .3s ease);
			i {
				@include transition(all .3s ease);
				color: inherit;
				line-height: 1;
				font-size: 18px;
				position: absolute;
				top: 10px;
				left: -10px;
				opacity: 0;
			}
			&.item--date {
				color: $primary_color;
			}
			&:last-child {
				padding-right: 0;
			}
			&.pxl-item--author {
				align-items: center;
				i {
					top: 2px;
				}
			}
			&:hover {
				padding-left: 20px;
				padding-right: 10px;
				i {
					left: 0;
					opacity: 1;
				}
			}
		}
		a {
			color: inherit;
			&:hover {
				color: $primary_color;	
			}
		}
	}
	.pxl-item--content {
		margin-bottom: 0;
		p {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		iframe {
			max-width: 100%;
		}
	}
	.pxl-item-single-post {
		.pxl-item--image {
			overflow: hidden;
			a {
				display: block;
			}
			img {
				width: 100%;
			}
		}
		.pxl-item--title {
			word-break: break-word;
			margin-bottom: 15px;
			font-size: 32px;
			line-height: 1.1;
		}
	}
}
.pxl--post-footer {
	margin-top: 63px;
	margin-bottom: 45px;
	> div {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.pxl--social {
		label {
			margin-right: 10px;
			font-size: 20px;
			font-family: "DM Sans", sans-serif;
			color: $secondary_color;
			font-weight: 700;
			margin-right: 10px;
		}
		a {
			border: 1px solid $secondary_color;
			transition: 0.3s cubic-bezier(0.24, 0.74, 0.58, 1);
            height: 32px;
            line-height: 32px;
            padding: 0 15px;
            border-radius: 5px;
            margin-right: 10px;
            text-align: center;
            font-weight: 600;
            color: $secondary_color;
            font-size: 12px;
            text-transform: uppercase;
			&:hover {
				background-color: $primary_color;
				color: #fff;
				border-color: $primary_color;
			}
		}
	}
}

.pxl--author-info {
	border-top: 2px dotted #e7e9ed;
	border-bottom: 2px dotted #e7e9ed;
	padding: 30px 0px;
	overflow: hidden;
	@media #{ $min-sm } {
		display: flex;
		align-items: center;
	}
	.entry-author-avatar {
		margin-top: 10px;
		min-width: 132px;
		width: 132px;
		height: 132px;
		overflow: hidden;
		margin-right: 30px;
		@include border-radius(50%);
		@media #{ $max-xs } {
			margin-bottom: 25px;
			margin-right: 0;
		}
		img {
			@include border-radius(50%);
			width: 100%;
			@include transition(transform 0.4s cubic-bezier(0.3, 1, 0.8, 1));
			@include transform(scale(1.02));
		}
		&:hover {
			img {
				@include transform(scale(1.0));
			}
		}
	}
	.entry-author-meta {
		.author-name {
			font-size: 24px;
			margin-bottom: 12px;
			font-weight: bold;
			a {
				color: $secondary_color;
				&:hover {
					color: $primary_color;
				}
			}
		}
		.author-description {
			font-size: 15px;
			max-width: 540px;
			line-height: 32px;
		}
	}
	.pxl-user-social {
		list-style: none;
		margin-bottom: 0;
		margin-top: 20px; 
		margin-left: -6px;
		display: flex;
		li {
			@media #{ $max-sm } {
				margin: 5px;
			}
			+ li {
				@media #{ $min-md } {
					margin-left: 25px;
				}
			}
			a {
				display: inline-block;
				text-align: center;
				font-size: 20px;
				line-height: 1;
				color: $primary_color;
			}
		}
	}
}

.pxl-pagination-wrap {
	.pxl-pagination-links {
		text-align: center;
		display: flex;
		justify-content: center;
	    .page-numbers {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 16px;
	        font-weight: bold;
	        @include border-radius(40px);
	        color: $third_color;
	        margin: 5px 10px 0;
	        padding: 0;
	        @include transition(all 300ms linear 0ms);
            position: relative;
            z-index: 1;
			display: inline-flex;
			align-items: center;
			justify-content: center;
            &:before {
                position: absolute;
                content: "";
                display: block;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 50%;
                left: 50%;
                border-radius: 40px;
                background-color: $primary_color;
                @include transform(translate3d(-50%,-50%,0) scale3d(0,0,1));
                @include transition(all 300ms linear 0ms);
            }
	        @media #{ $min-md } {
		        &:first-child {
		        	margin-left: 0;
		        }
		        &:last-child {
		        	margin-right: 0;
		        }
		        &.next, &.prev {
		        	font-size: 16px;
		        	padding-left: 0;
		        	padding-right: 0;
		        	background-color: transparent;
		        	span {
		        		height: 31px;
						line-height: 31px;
		        		width: auto!important;
		        		position: relative;
		        		display: inline-block;
		        		@media #{ $max-sm } {
		        			display: none;
		        		}
		        		padding: 0 15px;
		        	}
		        	i {
					  font-size: 22px;
					  line-height: 1;
					  @include transition(all 300ms linear 0ms);
		        	}
		        }
	        }
			&.current, &:hover {
				color: #fff;
				@include box-shadow(0 5px 20px #{'rgba(var(--primary-color-rgb),0.5)'});
                &:before {
                    transition: transform 0.3s cubic-bezier(0.1, 0, 0.3, 1);
                    transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
                }
			}
	    }
	}
}
.pxl-post--navigation {
    padding: 30px 0 60px;
    display: flex;
    flex-wrap: wrap;
    @media #{ $max-sm } {
    	padding-bottom: 0;
    }
    .pxl--items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .pxl--item {
            width: 50%;
        }
    }
    .pxl--label {
    	color: $third_color;
    	text-transform: uppercase;
    	font-size: 14px;
		&:hover {
			color: $primary_color;
		}
    }
    .pxl-title {
    	font-size: 20px;
    	margin-bottom: 0;
    	max-width: 260px;
    	a {
    		color: $secondary_color;
    		&:hover {
    			color: $primary_color;
    		}
    	}
    }
    .pxl--meta {

    }
    .pxl--img {
		width: 75px;
		min-width: 75px;
		a {
			@include border-radius(5px);
			overflow: hidden;
			display: block;
			width: 100%;
			position: relative;
			i {
				position: absolute;
				top: 50%;
				color: #fff;
				opacity: 0;
				font-size: 25px;
				@include transform(translateY(-50%));
				z-index: 2;
				@include transition(all 300ms linear 0ms);
			}
			&:after {
				@include border-radius(5px);
				z-index: 1;
				content: "";
				display: block;
				height: 100%;
				width: 0%;
				opacity: 0;
				top: 0;
				bottom: 0;
				position: absolute;
				@include background-gradient-top(rgba($gradient_from_hex, 0.62) 50%, rgba($gradient_to_hex, 0) 100%);
				@include transition(all 200ms linear 0ms);
			}
		}
    }
    .pxl--item-prev {
        text-align: left;
        display: flex;
        align-items: center;
        .pxl--img {
        	margin-right: 20px;
        	i {
        		right: 10px;
        	}
        	a {
        		&:after {
        			@include border-radius(150px 5px 5px 150px);
        			right: 0;
        		}
        	}
        }
        &:hover {
        	.pxl--img {
        		i {
        			opacity: 1;
					right: 20px;
        		}
        		a {
        			&:after {
						@include border-radius(5px);
						opacity: 1;
						width: 100%;
        			}
        		}
        	}
        }
    }
    .pxl--item-next {
        text-align: right;
        flex-grow: 1;
        display: flex;        
        align-items: center;
        justify-content: right;
        .pxl--img {
        	margin-left: 20px;
        	i {
        		left: 10px;
        	}
        	a {
        		&:after {
        			@include border-radius(5px 150px 150px 5px);
        			left: 0;
        		}
        	}
        }
        &:hover {
        	.pxl--img {
        		i {
        			opacity: 1;
					left: 20px;
        		}
        		a {
        			&:after {
						@include border-radius(5px);
						opacity: 1;
						width: 100%;
        			}
        		}
        	}
        }
    }
    .pxl--item {
        @media #{ $max-sm } {
            padding: 20px 0px;
        }
    }
}
.page-links {
    margin-top: 10px;
    margin-bottom: 25px;
    clear: left;
    .post-page-numbers {
        background-color: #fff;
        height: 25px;
        width: 25px;
        line-height: 25px;
        @include border-radius(5px);
        text-align: center;
        display: inline-block;
        color: #000;
        font-weight: 700;
        font-size: 14px;
        &.current, &:hover {
            background-color: $primary_color;
            color: #fff;
        }
        +  .post-page-numbers {
            margin-left: 4px;
        }
    }
}
.gallery {
	+ .page-links {
		margin-top: 30px;
	}
}
.single {
	.pxl-wapper {
		overflow-x: unset;
	}
}