.admin-bar .pxl-hidden-template{
    top: 32px;
    height: calc(100% - 32px);
    @media screen and (max-width: 782px) {
        top: 46px;
        height: calc(100% - 46px);
    }

}
.pxl-hidden-template {
	display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 0;
    right: 0;
    will-change: transform;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    opacity: 0; 
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    .pxl-panel-header {
        .panel-header-inner{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    .pxl-popup--overlay {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#1f2022, 0.6);
        background-color: #{'rgba(var(--secondary-color-rgb),0.7)'};
        opacity: 0;
        visibility: hidden;
        @include transition(all .5s cubic-bezier(0.46, 0.03, 0.52, 0.96));
        cursor: pointer;
    }
    .pxl-panel-content{
        position: relative;
        flex: 1;
    }
    &::-webkit-scrollbar{
        height: 0;
        width: 7px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-track{
        border-radius: 0;
    }
     
    &::-webkit-scrollbar-thumb{
        border-radius: 0;
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar {
        width: 7px;
        height: auto;
        background-color: rgba(255,255,255,0.1);
        border-radius: 0
    }
    &:hover::-webkit-scrollbar-thumb{
        background-color: rgba(48, 48, 48, 0.1);
    }
    &.pos-full {
        height: 100vh;
        .pxl-close {
            z-index: 1;
            position: absolute;
            top: 30px;
            right: 50px;
        }
    }
    &.open .pxl-popup--overlay {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s !important;
    }
}
.side-panel-open {
    .pxl-page-overlay {
        width: 100%;
        height: 100%;
        opacity: 1;
    }
}

.pxl-close {
    @include border-radius(50%);
    background: rgba(255,255,255,0.7);
    border: 9px solid transparent;
    color: #777;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        transform-origin: 50% 50%;
        @include transition(all .25s cubic-bezier(.645,.045,.355,1));
        background-color: #222;
    }
    &:before {
        @include transform(rotate(45deg));
    }
    &:after {
        @include transform(rotate(-45deg));
    }
    &:hover {
        &:before, &:after {
            @include transform(rotate(0deg));
        }
    }
}

.pxl-panel-content {
    .menu-main-container-wrap {
        padding: 0;
        min-height: calc(100% - 50px);
        flex-direction: column;
    }
}

.pxl-hidden-template.pos-left {
    width: 100%;
    right: auto;
    left: 0;
    @include transform(translate(-100%,0));
    .pxl-panel-header {
        padding: 30px 35px 0 35px;
        @media #{ $max-md } {
            padding: 20px 20px 0 20px;
        }
    }
    .pxl-panel-content {
        max-width: 450px;
        background-color: #f8f8f8;
        height: 100vh;
        .pxl-close {
            @include border-radius(5px);
            position: absolute;
            right: 30px;
            top: 30px;
            z-index: 1;
            background: #222;
            border: 10px solid transparent;
            width: 40px;
            height: 40px;
            overflow: hidden;
            &:before, &:after {
                background-color: #fff;
            }
        }
    }
    .pxl-qc-wrap.layout-3 .qc-desc-wrap .qc-item {
        padding: 5px 15px;
    }
}
.pxl-hidden-template.pos-right {
    width: 100%;
    right: 0;
    left: auto;
    @include transform(translate(100%,0));
    background-color: #010000;
    @media #{ $max-md } {
        max-width: 350px;
    }
    .pxl-close {
        background-color: transparent;
        width: 54px;
        height: 54px;
        border-width: 15px;
        position: absolute;
        top: 30px;
        right: 10px;
        z-index: 1;
        &:after, &:before {
            background-color: $primary_color;
        }
        &:hover{
            background-color: $color_dark1;
            &:after, &:before {
                
            }
        }
    }
    .pxl-nav-inner{
        li{
            a{
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 0.012em;
                @include transform(translateX(0));
                &:before{
                    content: "...";
                    display: inline-flex;
                    margin-right: 10px;
                    font-size: 24px;
                    color: $primary_color;
                }
            }
            &:hover{
                a{
                    @include transform(translateX(15px));
                    &:before{
                        color: #fff;
                    }
                }
            }
        }
    }
    .pxl-qc-wrap.layout-3 .qc-desc-wrap a:hover{
        color: #fff;
    }
    .pxl-menu-primary {
        > li {
            display: block;
            margin: 0;
            padding: 15px 0;
            > a {   
                display: block;
                line-height: 32px;
                font-size: 14px;
            }
        }
        li {
            a {
                color: #fff;
                @media #{ $max-lg } {
                    line-height: 32px;
                }
            }
        }
        .pxl-menu-toggle {
            position: absolute;
            top: 10px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            right: 0px;
            width: 28px;
            cursor: pointer;
            font-size: 10px;
            @include transition(all .25s cubic-bezier(.645,.045,.355,1));
            color: #fff;
            @include border-radius(3px);
            background-color: rgba(#fff, 0.13);
            display: block;
            &:before {
                content: "\f150";
                font-family: "Bravisicon";
            }
            &.active:before{
                content: "\f13d";
            }
        }
    }
}
.pxl-hidden-template.pxl-side-cart {
    background-color: #fff;
    max-width: 380px;
    @media #{ $max-md } {
        max-width: 350px;
    }

}
.pxl-hidden-template.pos-top{
    width: 100%;
    max-height: 350px;
    left: 0;
    right: 0;
    @include transform(translate(0,-100%));
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
}
.pxl-hidden-template.pos-center{
    background-color: #{'rgba(0, 0, 0, 0.7)'};
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .pxl-hidden-template-wrap{
        width: 100%;
        max-width: 870px;
        position: relative;
        @include transition(all .3s ease);
        @include transform(scale(0.6));
        border: 1px solid #ddd;
    } 
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;
    }
    .pxl-panel-content{
        padding: 0;
    }
    .pxl-close {
        background-color: transparent;
        &:after, &:before {
            background-color: #000;
        }
        &:hover{
            background-color: transparent;
            &:after, &:before {
                background-color: #000;
            }
        }
    }
    &.open{
        .pxl-hidden-template-wrap{
            @include transform(scale(1));
        }
    }
}
.pxl-hidden-template.pos-full{
    @include transform(translate(0,-100%));
    .pxl-hidden-template-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #402B1D;
    }
    .pxl-panel-header {
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
    .pxl-panel-content{
        padding: 0;
        min-height: 100vh;
        overflow: hidden;
        .elementor {
            overflow: scroll;
        }   
    }
    &.open{
        .pxl-hidden-template-wrap{
            @include transform(translateY(0%));
        }
    }
}
.pxl-hidden-template.open{
    @include transform(translate(0,0));
    opacity: 1;
    z-index: 99999;
}
.pxl-hidden-template.pxl-side-mobile.el-builder{
    .pxl-panel-header {
        padding: 20px 35px;
        @media #{ $max-xs } {
            padding: 20px 15px;
        }
    }
    .pxl-panel-content{
        padding: 10px 35px 50px 35px;
        @media #{ $max-xs } {
            padding: 5px 15px 30px 15px;
        }
        .elementor-column-gap-default > .elementor-column.elementor-element > .elementor-element-populated{
            padding: 0;
        }
    }
}

.admin-bar .pxl-side-cart{
    top: 32px;
    height: 100vh;
} 
.pxl-side-cart{
    width: 100%;
    height: auto;
    min-height: 540px;
    max-width: 370px;
    left: auto;
    top: 0;
    @include transform(translate(100%, 0));
    &.open{
        @include transform(translate(0, 0));
    }
    .pxl-panel-header .panel-header-inner{
        justify-content: space-between;
    }
    .pxl-panel-header{
        .pxl-title{
            font-size: 18px;
            color: $secondary_color;
            text-transform: uppercase;
            font-weight: 600;       
            flex-grow: 1;
        }
        .pxl-close{
            background-color: transparent;
            right: 0;
            &:before, 
            &:after {
                background-color: $secondary_color;
            }
            &:hover {
                background-color: transparent;
                &:before, 
                &:after {
                    background-color: $secondary_color;
                }
            }
        }
    }
    .pxl-panel-content{
        padding: 0 24px 35px 24px;
        overflow: hidden;
        position: static;
        @media (max-width: 400px) {
            padding: 0 15px 35px 15px;
        }
    }
    .widget_shopping_cart_content{
        ul {
            list-style: none outside;
            padding: 0;
            margin: 0 0 15px;
            border-top: 1px solid rgba(#D7D7D7,0.3);
            li {
                padding: 24px 30px 24px 0!important;
                position: relative;
                display: block;
                clear: both;
                overflow: hidden;
                + li {
                    border-top: 1px solid rgba(#D7D7D7,0.3);
                }
                a {
                    display: block;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1.5;
                    color: $secondary_color;
                }
                .remove{
                    position: absolute;
                    top: 13px !important;
                    right: 5px !important;
                    line-height: 1;
                    padding: 5px;
                    color: $secondary_color;
                    left: auto !important;
                    background-color: transparent;
                    &:hover{
                        color: red;
                    }
                }
                .quantity{
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 8px;
                    color: $secondary_color;
                }
                .amount{
                    color: $secondary_color;
                    font-weight: 600;
                    font-size: 14px;
                }
                .variation-Size, .variation-Size {
                    font-weight: 700;
                    padding: 0;
                    margin: 0;
                    clear: left;
                    color: $secondary_color;
                    margin-right: 10px;
                }
                .variation {
                    display: flex;
                    align-items: center;
                    color: $secondary_color;
                    padding-left: 0;
                }
                .star-rating{
                    + .woocommerce-Price-amount,
                    + .reviewer{
                        display: block;
                        width: 100%;
                        padding-left: 92px;
                    }
                }

                img {
                    float: left;
                    margin-right: 20px;
                    width: 80px;
                    height: auto;
                    @include border-radius(5px);
                }

                dl {
                    margin: 0;
                    padding-left: 1em;
                    border-left: 2px solid rgba(0, 0, 0, 0.1);
                    dt,
                    dd {
                        display: inline-block;
                        float: left;
                        margin-bottom: 1em;
                    }

                    dt {
                        font-weight: 700;
                        padding: 0 0 0.25em;
                        margin: 0 4px 0 0;
                        clear: left;
                    }

                    dd {
                        padding: 0 0 0.25em;

                        p:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .woocommerce-mini-cart__total{
            padding: 12px 0px;
            border-top: 1px solid rgba(#D7D7D7,0.3);
            margin-bottom: 20px;
            color: $secondary_color;
            strong{
                font-weight: 400;
            }
            .amount{
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: $secondary_color;
            }
        }
        .buttons{
            .button{
                display: inline-block;
            }
        }
    }
    .pxl-hidden-template-wrap {
        height: 100vh;
        position: relative;
        padding-bottom: 220px;
    }
    p.woocommerce-mini-cart__total {
        
    }
    p.woocommerce-mini-cart__buttons {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 17px;
            text-transform: capitalize;
            background-color: $primary_color;
            display: inline-block;
            max-width: 47%;
            width: 100%;
            text-align: center;
            color: #fff;
            margin-left: 0;
            margin-right: 0;
            &:hover {
                background-color: $secondary_color;
                color: #fff;
            }
        }
        a.checkout {
            background-color: $secondary_color;
            &:hover {
                background-color: $primary_color;
            }
        }
    }
    .blockOverlay{
        background-color: rgba(255,255,255,.2) !important;
    }
    .woocommerce-mini-cart__empty-message{
        margin-top: 30px;
        text-align: center;
        color: $secondary_color;
        padding-top: 220px;
        position: relative;
        &:before {
            width: 120px;
            height: 120px;
            border-bottom: 2px solid $third_color;
            line-height: 120px;
            text-align: center;
            content: "\f145";
            font-family: "Bravisicon";
            font-size: 50px;
            position: absolute;
            bottom: 60px;
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
}
.pxl-hidden-template.pos-right, .pxl-hidden-template.pos-left {

    &.pxl-side-cart{
        .pxl-panel-header {
            padding: 15px 30px 35px 30px;
            position: relative;
            @media ( max-width: 400px ){
                padding: 15px;
            }
        }
        .pxl-close {
            top: 5px;
            right: 10px;
        }
    }
}