.pxl-slide-item-wrap {
	overflow: hidden;
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.pxl-slide-bg {
		@media #{ $max-lg } {
			min-height: 420px;
		}
		@media #{ $min-xl } {
			min-height: 620px;
		}
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@media #{ $max-sm } {
			@include border-radius(20px);
		}
		@media #{ $mm-md } {
			@include border-radius(20px);
		}
		@media #{ $min-lg } {
			@include border-radius(30% 0 0 30%);
		}
	}
	.item-feature {
		padding-right: 20px;
		width: 100%;
		height: 100%;
		@media #{ $max-md } {
			margin-bottom: 35px;
			padding-right: 0;
		}
		@media #{ $max-sm } {
			margin-bottom: 35px;
		}
		@media #{ $min-lg } {
			min-width: 60%;
			max-width: 60%;
		}
		@media #{ $min-xxl } {
			padding-right: 35px;
		}
		@media #{ $mm-xl } {
			padding-right: 20px;	
		}
	}
	.item-content {
		@media #{ $mm-md } {
			display: flex;
			align-items: center;
		}
		@media #{ $mm-lg } {

		}
		@media #{ $min-lg } {
			min-width: 40%;
			max-width: 40%;
			display: flex;
			align-items: center;
		}
		@media #{ $min-xxl } {
			padding-left: 35px;
			padding-right: 20px;
			padding-bottom: 30px;
		}
	}
	.small-heading {
		font-size: 17px;
		text-transform: uppercase;
		margin-bottom: 10px;
		@media #{ $mm-xl } {
			font-size: 16px;
		}
	}
	.large-heading {
		color: $secondary_color;
		font-size: 45px;
		@media #{ $min-xxl } {
			font-size: 70px;
			margin-bottom: 30px;
		}
		@media #{ $mm-xl } {
			font-size: 40px;
		}
	}
	.item-desc {
		margin-bottom: 20px;
		@media #{ $min-xl } {
			margin-right: 35px;
		}
	}
	.item-btn1 {
		line-height: 60px;
		padding: 0  35px;
		@include border-radius(35px);
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		display: inline-flex;
		background-color: #222;
		text-transform: uppercase;
		.pxl-button-icon {
			margin-left: 5px;
		}
		&:hover {
			background-color: #333;
		}
	}
	.item-btn2 {

	}
	.inner-layout {
		@media #{ $min-lg } {
			display: flex;
		}
		@media #{ $mm-md } {
			align-items: center;
		}
		@media #{ $min-xl } {
			min-height: 620px;
		}
		@media #{ $max-md } {
			
		}
	}
}
.pxl-sliders-wrap {
	overflow: hidden;
	.pxl-slider-container {
		@media (min-width: 880px) {
			position: relative;	
			z-index: 1;
			&:before {
				content: "";
				display: block;
				height: 120%;
				width: 60%;
				background-color: #fff;
				position: absolute;
				top: 0;
				right: 0px;
				bottom: 0;
				z-index: -1;
			}
		}
		.pxl-slider-wrapper {
			@media #{ $max-sm } {
				height: auto!important;
			}
		}
	}
	.pxl-slider-arrow {
		cursor: pointer;
		width: 50px;
		height: 50px;
		@include border-radius(50%);
		border: 1px solid #f8f8f8;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		color: #f8f8f8;
		@include transition(all 300ms linear 0ms);
		@media #{ $max-lg } {
			border-color: $primary_color;
			color: $primary_color;
		}
		&:hover {
			background-color: #fff;
			color: $secondary_color;
			@media #{ $max-lg } {
				background-color: $primary_color;
				color: #fff;
			}
		}
		&.pxl-slider-arrow-prev {
			margin-right: 10px;
		}
		&.pxl-slider-arrow-next {

		}
	}
	.pxl-slider-arrow-wrap {
		display: flex;
		@media #{ $max-lg } {
			justify-content: center;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		@media #{ $max-md } {
			justify-content: left;
			margin-top: 40px;
		}
		@media #{ $min-xl } {
			position: absolute;
			bottom: 30px;
			left: 45%;
			@include transform(traslateX(-50%));
			z-index: 2;
		}
	}
	.elementor-widget-wrap {
		//padding: 0!important;
	}
}

/* SLide Builder */
body:not(.elementor-editor-active) .pxl-element-slider {
    //opacity: 0;
}
.pxl-element-slider {
    position: relative;
    @include transition(all 250ms linear 0ms);
    border-radius: inherit;
    .pxl-slider-progressbar {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $primary_color;
        height: 2px;
        z-index: 100;
        width: 0;
        @include transition(all 100ms linear 0ms);
    }
    .pxl-slider--image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        @include transition(all 300ms linear 0ms);
    }
    .pxl-slider--mainimage {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        @include transition(all 600ms linear 0ms);
        overflow: hidden;
        &.wow {
            visibility: visible;
        }
        &.pxl-image--kenburns {
            @include animation(pxl-ken-burns-out 20s linear infinite);  
            animation-timing-function: linear;
            animation-iteration-count: infinite;
		    -webkit-transition-duration:20s;
		    -o-transition-duration:20s;
		    transition-duration:20s
        }
    }
    .pxl-slider--overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
    }
    .pxl-slider--inner {
        position: relative;
        z-index: 1;
        overflow: hidden;
        @media #{$max-lg} {
            height: auto !important;
        }
    }
    .pxl-slider--mainimage, .pxl-slider--image, .pxl-slider--inner, .pxl-swiper-slide, .pxl-swiper-wrapper, .pxl-swiper-container, .pxl-carousel-inner {
        border-radius: inherit;
    }
    .pxl-swiper-arrow-wrap {
        margin: 0;
        @media #{$max-lg} {
			display: flex;
			position: absolute;
			left: 0;
			bottom: 20px;
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
        }
        .pxl-swiper-arrow {
            margin: 0;
            position: absolute;
            top: 50%;
            @include transform(translate(0, -50%));
            background-color: transparent;
            @include box-shadow(0 10px 60px rgba(#8997BA, 0.15));
            opacity: 0;
            border: 1px solid $primary_color;
            i {
            	font-size: 20px;
            	color: $primary_color;	
            	line-height: 1;
				display: flex;
				align-items: center;
            }
            @media #{$max-lg} {
                font-size: 14px;
                width: 56px;
                height: 56px;
                line-height: 56px;
				opacity: 1;
				transform: translate(0, 0);
				position: static;
            }
            &:hover {
                background-color: $primary_color;
                @include box-shadow(none);
                border-color: $primary_color;
                i {
                	color: #000;	
                }
            }
        }
        .pxl-swiper-arrow-prev {
            left: 30px;
            @media #{ $mm-xl } {
            	left: 10px;
            }
            @media #{$max-lg} {
                left: 20px;
            }
        }
        .pxl-swiper-arrow-next {
            right: 30px;
            @media #{ $mm-xl } {
            	right: 10px;
            }
            @media #{$max-lg} {
                right: 20px;
                margin-left: 15px;
            }
            i {
            	
            }
        }
    }
    .pxl-swiper-pagination {
    	.pxl-swiper-dots {
    		position: absolute;
    		margin-top: 0;
    		bottom: 180px;
			bottom: 180px;
			left: 50%;
			transform: translateX(-50%);
			@media #{ $max-lg } {
				bottom: 30px;
			}
			&.pxl-swiper-pagination-bullets {
				counter-reset: number;
				@media #{ $min-xl } {
					&:before {
		                position: absolute;
		                top: -90px;
		                left: -152px;
		                content: "";
		                width: 122px;
		                height: 116px;
		                background-image: url(../img/arrow-right-slider.png);
		                @include transition(all 300ms linear 0ms);
		                animation: pxl_bottom_top_small 12s ease-out infinite;
		                -webkit-animation: pxl_bottom_top_small 12s ease-out infinite;
					}
				}
				span {
					@include border-radius(30px);
					background-color: #fff;
					line-height: 30px;
					width: 30px;
					height: 30px;
					border: none;
					&:after {
						counter-increment: number;
						content: '0' counter(number);
						color: $primary_color;
					}
					&.swiper-pagination-bullet-active {
						background-color: $primary_color;
						&:after {
							color: #fff;
						}
					}
				}
			}
    		span {
    			font-size: 14px;
    			line-height: 34px;
    		}
    		&.pxl-swiper-pagination-fraction {
    			line-height: 1;
    			span {
    				position: relative;
    				top: 2px;
    				line-height: 1;
    			}
    		}
    	}
    }
    &:hover .pxl-swiper-arrow-wrap { 
       .pxl-swiper-arrow {
            opacity: 1;
       }
    }
}

/* Start CSS Revolution Custom */
.title-text-shadow {
	 text-shadow: 3px 3px $primary_color;
	 
}
/* End CSS Revolution Custom */